<%= c 'stack', **attrs do %>
  <div>
    <%= c('heading', tag: :h1) { t('.heading') } %>

    <% if ENV.fetch('GIT_COMMIT_SHA', nil).present? && ENV.fetch('GIT_COMMIT_SHA', nil).present? %>
      <p class="text-small text-light">
        <%= t('.version', version: version, date: date) %>
      </p>
    <% end %>
  </div>

  <dl>
    <dt><%= t('.email_from_address') %></dt>
    <dd><%= organization.email_from_address %></dd>

    <dt><%= t('.telegram_bot_username') %></dt>
    <dd><%= organization.telegram_bot_username %></dd>

    <dt><%= t('.threemarb_api_identity') %></dt>
    <dd><%= organization.threemarb_api_identity %></dd>

    <dt><%= t('.signal_server_phone_number') %></dt>
    <dd><%= organization.signal_server_phone_number&.phony_formatted || t('.signal_not_set_up') %></dd>
  </dl>
<% end %>
