<div class="<%= class_attr %> text-serif">
  <%= c 'wrapper', style: :narrow do %>
    <%= c 'box' do %>
      <%= c 'stack' do %>
        <div class="OnboardingResponse-icon">
          <%= c 'icon', icon: icon %>
        </div>

        <%= c('heading', tag: :h1) { title } %>
        <p><%= text %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
