<%= c 'interstitial', **attrs do %>
  <%= c 'stack', space: :small, class: 'text-serif text-center' do %>
    <%= c 'icon', icon: icon, class: 'OnboardingResponse-icon' %>
    <%= c('heading', tag: :h1) { heading } %>
    <p><%= text %></p>
  <% end %>
<% end %>
