<fieldset <%= attrs %>>
  <legend class="OnboardingChannelsCheckboxes-legend">
    <%= t '.legend' %>
  </legend>
  <p class="OnboardingChannelsCheckboxes-helpText">
    <%= t '.help_text' %>
  </p>
  <ul class="OnboardingChannelsCheckboxes-list">
    <% Setting.channels.each do |key, value| %>
      <input
        id='<%= "setting[channels][#{key}][configured]" %>'
        name='<%= "setting[channels][#{key}][configured]" %>'
        value="<%= value[:configured] %>"
        type="hidden"
      >
      <% if value[:configured] %>
        <li class="OnboardingChannelsCheckboxes-listItem">
          <%= c 'checkbox', id: "setting[channels][#{key}][allow_onboarding]", checked: value[:allow_onboarding] %>
          <label for=<%= "setting[channels][#{key}][allow_onboarding]" %>><%= key.to_s.camelize %>
        </li>
      <% else %>
        <input
          id='<%= "setting[channels][#{key}][allow_onboarding]" %>'
          name='<%= "setting[channels][#{key}][allow_onboarding]" %>'
          value="<%= value[:allow_onboarding] %>"
          type="hidden"
        >
      <% end %>
    <% end %>
  </ul>
</fieldset>
