<div <%= attrs %>>
  <%= c 'button',
    link: onboarding_threema_path,
    styles: [:primary] do
  %>
    <%= svg 'channel_threema' %>
    Threema
  <% end %>

  <% if show_signal? %>
    <%= c 'button',
      link: onboarding_signal_path,
      styles: [:primary] do
    %>
      <%= svg 'channel_signal' %>
      Signal
    <% end %>
  <% end %>

  <% if show_whats_app? %>
    <%= c 'button',
      link: onboarding_whats_app_path,
      label: 'WhatsApp',
      styles: [:primary]
    %>
  <% end %>

  <%= c 'button',
    link: onboarding_telegram_path,
    styles: [:primary] do
  %>
    <%= svg 'channel_telegram' %>
    Telegram
  <% end %>

  <%= c 'button',
    link: onboarding_email_path,
    styles: [:primary] do
  %>
    <%= svg 'channel_mail' %>
    E-Mail
  <% end %>
</div>
