<%= c 'stack', space: :small do %>
  <%= c 'heading', tag: :h2 do %>
    <%= t('.heading') %>
  <% end %>

  <% if contributor.signal_onboarding_completed_at.present? %>
    <p><%= completed_onboarding_text %></p>
  <% else %>
    <%= c 'callout', style: :warning do %>
      <%= c 'stack', space: :small do %>
        <p><%= incomplete_onboarding_text %></p>

        <%= c 'copy_button',
          style: :secondary,
          copy: organization_onboarding_signal_link_url(organization, signal_onboarding_token: contributor.signal_onboarding_token),
          label: t('.incomplete.action')
        %>
      <% end %>
    <% end %>
  <% end %>

<% end %>
