<%= c 'hero' %>

<section>
  <%= c 'box', style: :large do %>
    <%= c 'wrapper' do %>
      <%= c 'stack', space: :large do %>
        <%= c 'heading', tag: :h2 do %>
          <%= I18n.t 'dashboard.how_it_works' %>
        <% end %>

        <%= c 'steps', list: :how_it_works %>

        <%= c 'heading', tag: :h2 do %>
          <%= I18n.t 'dashboard.become_a_pioneer' %> 
          <%= I18n.t 'dashboard.provided_technology' %>
        <% end %>

        <%= c 'steps', list: :hundred_eyes_selling_points %>
      <% end %>
    <% end %>
  <% end %>
</section>
