<%= c 'page_wrapper' do %>
  <h1>Kontaktiere sofort 50 Menschen aus der Region:</h1>

  <%= c 'tiles' do %>
    <%= c 'tile', icon: 'survey', action: 'Starte eine', subject: 'Umfrage', url: pending_not_implemented_path %>
    <%= c 'tile', icon: 'pin-search', action: 'Finde', subject: 'Orte', url: pending_not_implemented_path %>
    <%= c 'tile', icon: 'a-search', action: 'Finde einen', subject: 'Experten', url: pending_not_implemented_path %>
    <%= c 'tile', icon: 'camera-2', action: 'Erhalte', subject: 'Fotos', url: pending_not_implemented_path %>
    <%= c 'tile', icon: 'feedback', action: 'Erhalte', subject: 'Feedback', url: pending_not_implemented_path %>
    <%= c 'tile', icon: 's-question', action: 'Stelle eine', subject: 'andere Frage', url: pending_not_implemented_path %>
  <% end %>
<% end %>
