<%= c 'main' do %>
  <%= c 'page_header', styles: [:xnarrow, :inheritBackgroundColor, :flexboxColumn] do %>
    <%= c 'heading', tag: :h1 do %>
      <%= t('message.create.heading') %>
    <% end %>

    <p>
      <%= t(
        'message.create.text',
        name: @contributor.name,
        title: @request.title
      ).html_safe %>
    </p>
  <% end %>

  <%= c 'section', style: :xnarrow do %>
    <%= c 'message_form', contributor: @contributor, request: @request %>
  <% end %>
<% end %>
