<%= c 'box', style: :large do %>
    <%= c 'wrapper', style: :xnarrow do %>
      <%= c 'stack' do %>
  
        <%= c 'stack', space: :small do %>
          <%= c 'heading', tag: :h1 do %>
            <%= t('message.create.heading') %>
          <% end %>
  
          <p>
            <%= t(
              'message.create.text',
              name: @contributor.name,
              title: @request.title
            ).html_safe %>
          </p>
        <% end %>

        <%= c 'message_form', contributor: @contributor, request: @request %>
  
      <% end %>
    <% end %>
  <% end %>