<%= c 'stack', class: 'RequestsFeed' do %>
  <% if replies.any? %>
    <%= c 'heading', tag: :h2 do %>
      <%= t('.heading') %>
    <% end %>
  <% else %>
    <%= c 'stack', space: :xsmall do %>
      <%= c 'heading', tag: :h2 do %>
        <%= t('.heading') %>
      <% end %>

      <p><%= t('.no_replies', name: contributor.name) %></p>
    <% end %>
  <% end %>

  <% if replies.any? %>
    <ul>
      <% replies.each do |reply| %>
        <li>
          <%= link_to conversations_organization_contributor_path(organization_id: reply.contributor.organization_id, id: reply.contributor.id, anchor: "message-#{reply.id}"), class: "Link", data: { turbo: false } do %>
            <strong><%= reply.request.title %></strong>
          <% end %>
          <p class="text-small text-light">
            <%= date_time(reply.created_at) %>
          </p>
        </li>
      <% end %>
    </ul>
    <p>
      <%= link_to t(".show_all", count: replies.count ), conversations_organization_contributor_path(organization_id: contributor.organization_id, id: contributor.id), class: "Link" %>
    </p>
  <% end %>
<% end %>
