<div <%= attrs %>>

  <% if record_avatar? %>
    <%= link_to_if(
      expandable?,
      image_tag(url, alt: '', loading: 'lazy'),
      record_avatar,
      target: '_blank',
      aria: { label: t('.expand') },
    ) %>
  <% elsif editorial_logo? %>
    <%= link_to_if(
      expandable?,
      image_tag(url, alt: t('.editorial_logo', project_name: organization.project_name), loading: 'lazy'),
      editorial_logo,
      target: '_blank',
      aria: { label: t('.expand') },
    ) %>
  <% else %>
    <svg
      class="Avatar-initials"
      style="<%= "--avatar-color: #{color_from_id(key)}" if key %>"
      viewBox="0 0 100 100"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <text x="50" y="50"><%= initials %></text>
    </svg>
  <% end %>
</div>
