<header
  <%= attrs %>
  data-controller="nav-bar"
  data-nav-bar-responsive-class="NavBar-list--responsive"
>
  <nav class="NavBar-nav">
    <%= link_to dashboard_path, class: 'NavBar-logo' do %>
      <%= svg '100eyes-logo' %>
    <% end %>

    <ul
      class="NavBar-list"
      data-nav-bar-target="navBarList"
    >
      <button
        class="NavBar-item NavBar-hamburgerMenuToggleButton"
        data-action='nav-bar#toggleMenu'
      >
        <%= c 'icon', icon: 'i-remove' %>
      </button>
      <li class="NavBar-item">
        <%= link_to dashboard_path do %>
          <%= t('.dashboard') %>
          <%= svg 'dashboard' %>
        <% end %>
      </li>
      <li class="NavBar-item">
        <%= link_to contributors_path do %>
          <%= t('.community', count: :many) %>
          <%= svg 'community' %>
        <% end %>
      </li>
      <li class="NavBar-item">
        <%= link_to requests_path do %>
          <%= t('.investigation', count: :many) %>
          <%= svg 'flyer' %>
        <% end %>
      </li>
      <% if current_user.admin? %>
        <li class="NavBar-item">
          <%= link_to admin_root_path do %>
            <%= t '.admin' %>
            <%= svg '100' %>
          <% end %>
        </li>
      <% end %>
      <li class="NavBar-item NavBar-profileLink">
        <%= link_to profile_path, aria: { label: t('.profile_path') } do %>
          <span>
            <%= t '.profile_link' %>
          </span>
          <%= svg 'profile-fig' %>
        <% end %>
      </li>
      <li class="NavBar-item NavBar-settings" >
        <%= link_to settings_path do %>
          <%= svg 'settings-wheel' %>
        <% end %>
      </li>
      <li class="NavBar-item NavBar-search">
        <%= form_with url: organization_search_path(organization), local: true, method: :get do %>
          <label for="q" aria-label="<%= t('search.placeholder') %>"></label>
          <%= c 'input',
            type: :search,
            id: 'q',
            required: true,
            icon: :zoom,
            styles: [:small],
            placeholder: t('search.placeholder')
          %>
        <% end %>
      </li>
      <li class="NavBar-item NavBar-logOut">
        <%= link_to sign_out_path, method: :delete do %>
          <%= svg 'logout' %>
          <%= t '.sign_out' %>
        <% end %>
      </li>
    </ul>
    <button
      class="NavBar-hamburgerMenuToggleButton"
      data-action='nav-bar#toggleMenu'
    >
      <%= c 'icon', icon: 'hamburger-menu', styles: [:inline] %>
    </button>
  </nav>
</header>
