<header class="NavBar">
  <nav>
    <ul>
      <li class="NavBar-item">
        <%= link_to root_path, class: 'NavBar-logo' do %>
          100eyes
        <% end %>
      </li>
      <li class="NavBar-item">
        <%= link_to users_path do %>
          Lokalexpert*innen
        <% end %>
      </li>
      <li class="NavBar-item">
        <%= link_to requests_path do %>
          Recherchen
        <% end %>
      </li>
    </ul>
  </nav>
  <div class="NavBar-search">
    <%= form_with url: search_path, local: true, method: :get do %>
      <%= c 'input', type: :search, id: 'q', required: true, styles: [:inverted, :small], placeholder: 'Suchen' %>
    <% end %>
  </div>
</header>
