<header class="NavBar">
  <nav>
    <ul>
      <li class="NavBar-item">
        <%= link_to root_path, class: 'NavBar-logo' do %>
          <%= t 'application_name' %>
        <% end %>
      </li>
      <li class="NavBar-item">
        <%= link_to users_path do %>
          <%= t 'components.nav_bar.community', count: :many %>
        <% end %>
      </li>
      <li class="NavBar-item">
        <%= link_to requests_path do %>
          <%= t 'components.nav_bar.investigation', count: :many %>
        <% end %>
      </li>
      <li class="NavBar-item">
        <%= link_to admin_settings_path do %>
          <%= t 'setting.setting', count: :many %>
        <% end %>
      </li>
    </ul>
  </nav>
  <%= form_with url: search_path, local: true, method: :get, class: 'NavBar-search' do %>
    <%= c 'input',
      type: :search,
      id: 'q',
      required: true,
      icon: :zoom,
      styles: [:inverted, :small],
      placeholder: t('search.placeholder')
    %>
<% end %>
</header>
