<header class="NavBar">
  <nav>
    <ul>
      <li class="NavBar-item">
        <%= link_to root_path, class: 'NavBar-logo' do %>
          <%= Rails.configuration.project_name %>
        <% end %>
      </li>
      <li class="NavBar-item">
        <%= link_to users_path do %>
          <%= I18n.t 'user.user', count: :many %>
        <% end %>
      </li>
      <li class="NavBar-item">
        <%= link_to requests_path do %>
          <%= I18n.t 'request.request', count: :many %>
        <% end %>
      </li>
    </ul>
  </nav>
  <%= form_with url: search_path, local: true, method: :get, class: 'NavBar-search' do %>
    <div class="NavBar-search-icon">
      <%= c 'icon', icon: 'zoom' %>
    </div>
    <%= c 'input',
      type: :search,
      id: 'q',
      required: true,
      styles: [:inverted, :small],
      placeholder: I18n.t('search.placeholder')
    %>
<% end %>
</header>
