<%= c 'stack', **attrs.merge({
  data: { controller: 'onboarding-signal-splash' }
}) do %>

  <%= c 'stack', class: 'text-serif', space: :xsmall do %>
    <%= c 'heading', tag: :h1 do %>
      <%= t('components.onboarding_signal_splash.heading') %>
    <% end %>

    <p>
      <%= t('components.onboarding_signal_splash.text') %>
    </p>

    <p>
      <%= t('components.onboarding_signal_splash.action', number: Setting.signal_phone_number).html_safe %>
    </p>
  <% end %>

  <%= c 'stack', space: :small do %>
    <div data-action="click->onboarding-signal-splash#highlightNext">
      <%= c 'button',
        styles: [:block, :primary],
        link: "https://signal.me/#p/#{Setting.signal_phone_number}",
        label: 'Zur Signal-App',
        target: '_blank',
        rel: 'noopener noreferrer',
        data: { onboarding_signal_splash_target: 'linkButton' }
      %>
    </div>

    <div data-action="click->onboarding-signal-splash#highlightNext">
      <%= c 'copy_button',
        styles: [:block, :secondary],
        label: 'Handynummer kopieren',
        copy: Setting.signal_phone_number
      %>
    </div>

    <p class="text-small text-light">
      <%= t('components.onboarding_signal_splash.help') %>
    </p>
  <% end %>

  <%= c 'stack', space: :small do %>
    <p class="text-serif">
      <%= t('components.onboarding_signal_splash.done') %>
    </p>

    <%= c 'button',
      name: 'next',
      id: 'next',
      styles: [:block, :secondary],
      link: onboarding_signal_path,
      label: t('components.onboarding_signal_splash.next'),
      data: { onboarding_signal_splash_target: 'nextButton' }
    %>
  <% end %>
<% end %>
