  <label class="<%= class_attr %>" for="<%= id %>">
    <input name="<%= name %>" type="hidden" value="0" />
    <input
      type="checkbox"
      id="<%= id %>"
      name="<%= name %>"
      <%= value ? 'checked' : '' %>
      class="Checkbox-input"
      />
      <% if styles.include?(:switch) %>
        <div class="Checkbox-slider"></div>
      <% end %>
      <span class="Checkbox-label"><%= label %></span>
  </label>
