<label class="Checkbox">
  <input
    type="checkbox"
    id="<%= id %>"
    name="<%= name %>"
    value="<%= value %>"
    data-target="<%= stimulus_target %>"
    class="Checkbox-input"
  />
  <span class="Checkbox-label"><%= label %></span>
</label>
