<%= c 'interstitial', style: :stripes do %>
  <%= c 'stack' do %>
    <%= c 'stack', space: :xsmall do %>
      <%= c 'heading', tag: :h1 do %>
        <%= t('.heading') %>
      <% end %>

      <p><%= t('.text') %></p>
    <% end %>

    <%= form_with(
      url: passwords_path,
      local: true,
      data: { turbo: false }
    ) do %>

      <%= c 'stack' do %>
        <%= c 'base_field', id: 'password[email]', label: t('.email') do %>
          <%= c 'input',
            type: :email,
            id: 'password[email]',
            autofocus: true
          %>
        <% end %>

        <%= c 'button',
          type: 'submit',
          label: t('.submit'),
          styles: [:primary, :block]
        %>
      <% end %>

    <% end %>
  <% end %>
<% end %>
