<%= c 'interstitial', style: :stripes do %>
  <%= c 'stack' do %>
    <%= c 'stack', space: :xsmall do %>
      <%= c 'heading', tag: :h1 do %>
        <%= t 'passwords.new.title' %>
      <% end %>

      <p>Gib hier die E-Mail-Adresse an, mit der du bei 100eyes registriert bist. Wir senden dir dann einen Link zu, mit dem du dein Passwort zurücksetzen kannst.</p>
    <% end %>

    <%= form_with(url: passwords_path, local: true, data: { turbo: false }) do |_form| %>
      <%= c 'stack' do %>

        <%= c('base_field',
          id: 'password[email]',
          label: I18n.t('helpers.label.password.email')
        ) do %>
          <%= c 'input', type: :email, id: 'password[email]' %>
        <% end %>

        <%= c 'button',
          type: 'submit',
          label: I18n.t('helpers.submit.password_reset.submit'),
          styles: [:primary, :block]
        %>

      <% end %>
    <% end %>

  <% end %>
<% end %>
