<tr>
  <td><%= user.id %>
  <td><%= user.email %>
  <td><%= user.chat_id %>
  <td><%= link_to 'Edit', edit_user_path(user) %></td>
  <td><%= button_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
