<nav <%= attrs.merge(role: "navigation", aria_label: "pager") %>>
  <ul class="Pagination-list" role="list">
    <li class="Pagination-listItem <%= current_page.first? ? 'Pagination-listItem--disabled' : '' %>">
      <%= link_to path_to(page: 1), remote: remote do %>
        <%= t('.first') %>
      <% end %>
    </li>
    <li class="Pagination-listItem <%= current_page.first? ? 'Pagination-listItem--disabled' : '' %>">
      <%= link_to path_to(page: current_page.instance_variable_get(:@page) - 1), rel: 'prev', remote: remote do %>
        <%= t('.previous') %>
      <% end %>
    </li>
    <% pages.each do |page| -%>
      <% if page.display_tag? -%>
        <li class="Pagination-listItem <%= 'Pagination-listItem--current' if page.current? %>">
          <%= link_to path_to(page: page), {remote: remote, rel: page.rel} do %>
            <%= page %>
          <% end %>
        </li>
      <% elsif !page.was_truncated? -%>
        <li class="Pagination-listItem Pagination-gap"><%= t('.truncate') %></li>
      <% end -%>
    <% end -%>
    <li class="Pagination-listItem <%= current_page.last? ? 'Pagination-listItem--disabled' : '' %>">
      <%= link_to path_to(page: current_page.instance_variable_get(:@page) + 1), rel: 'next', remote: remote  do %>
        <%= t('.next') %>
      <% end %>
    </li>
    <li class="Pagination-listItem <%= current_page.last? ? 'Pagination-listItem--disabled' : '' %>">
      <%= link_to path_to(page: current_page.instance_variable_get(:@options)[:total_pages]), remote: remote do %>
        <%= t('.last') %>
      <% end %>
    </li>
  </ul>
</nav>
