<%= c 'button', styles: styles, **attrs do %>
  <%= svg 'onboarding-ticket' %>
  <span
    class="CopyButton-label"
    data-copy-button-target="label"
  >
    <%= label %>
  </span>
  <span
    class="CopyButton-loading"
    data-copy-button-target="loading"
    hidden
  >
    <%= loading %>
  </span>
  <span
    class="CopyButton-success"
    data-copy-button-target="success"
    hidden
  >
    <%= c 'icon', icon: 'f-check', style: :inline %>
    <%= success %>
  </span>
<% end %>
