<footer class="Footer">

  <div class="Footer-column">
    <%= c 'heading', tag: :h2, style: :upper do %>
      <%= I18n.t 'components.footer.authors.heading' %>
    <% end %>

    <%= simple_format(I18n.t('components.footer.authors.text')) %>
  </div>

  <div class="Footer-column">
    <%= c 'heading', tag: :h2, style: :upper do %>
      <%= I18n.t 'components.footer.funding.heading' %>
    <% end %>

    <a href="https://miz-babelsberg.de" target="_blank">
      <img class="Footer-logo" src="/footer/miz-logo.svg" alt="Logo: Medieninnovationszentrum Babelsberg" />
    </a>

    <a href="https://prototypefund.de" target="_blank">
      <img class="Footer-logo" src="/footer/prototypefund-logo.svg" alt="Logo: Prototype Fund" />
    </a>

    <a href="https://bmbf.de" target="_blank">
      <img class="Footer-logo" src="/footer/bmbf-logo.svg" alt="Logo: Bundesministerium für Bildung und Forschung" />
    </a>
  </div>

  <div class="Footer-column">
    <%= c 'heading', tag: :h2, style: :upper do %>
      <%= I18n.t 'components.footer.license.heading' %>
    <% end %>

    <a href="https://raw.githubusercontent.com/tactilenews/100eyes/master/LICENSE">
      <%= c 'icon', icon: 'scale', style: :inline %>
      <%= I18n.t 'components.footer.license.licensed_under' %>
    </a>
    <br>

    <a href="https://github.com/tactilenews/100eyes" target="_blank">
      <%= c 'icon', icon: 'logo-github', style: :inline %>
      GitHub
    </a>
  </div>

</footer>
