<%= c 'stack' do %>
  <%= c 'heading', tag: :h1 do %>
    <%= t('.heading') %>
  <% end %>

  <%= form_with(url: session_path, local: true) do %>
    <%= c 'stack' do %>
      <%= c 'base_field', id: 'session[email]', label: t('.email') do %>
        <%= c 'input',
          type: :email,
          id: 'session[email]',
          autocomplete: 'username',
          required: true,
          autofocus: true
        %>
      <% end %>

      <%= c 'base_field', id: 'session[password]', label: t('.password') do %>
        <%= c 'password_input',
          id: 'session[password]',
          autocomplete: 'current-password'
        %>
      <% end %>

      <%= c 'button',
        type: 'submit',
        label: t('.submit'),
        styles: [:primary, :block]
      %>
    <% end %>
  <% end %>

  <p class="text-small text-light text-center">
    <a class="Link" href="<%= new_password_path %>">
      <%= t('.forgot_password') %>
    </a>
  </p>
<% end %>
