<main class="SignInForm">
  <%= c 'heading', tag: :h1 do %>
    <%= t 'user.form.sign_in.text' %>
  <% end %>

  <%= form_with(url: session_path, local: true) do |f| %>
    <label for='session[email]'><%= t 'user.form.email.label' %></label>
    <%= c 'input', type: :email, id: 'session[email]' %>
    <label for='session[password]'><%= t 'user.form.password.label' %></label>
    <%= c 'input', type: :password, id: 'session[password]' %>
    <%= c 'button', type: 'submit', label: I18n.t('user.form.sign_in.text') %>
  <% end %>
  <footer>
    <p>
      <%= t 'user.form.password_reset.help' %>
      <%= link_to new_password_path, class: "Link SignInForm-password-reset-link" do %>
        <%= t 'user.form.password_reset.text' %>
      <% end %>
    </p>
  </footer>
</main>
