<main class="SignInForm">
  <%= c 'heading', tag: :h1 do %>
    <%= t 'users.new.sign_in' %>
  <% end %>

  <%= form_with(url: session_path, local: true) do |f| %>
    <label for='session[email]'><%= t 'helpers.label.password.email' %></label>
    <%= c 'input', type: :email, id: 'session[email]' %>

    <label for='session[password]'><%= t 'helpers.label.session.password' %></label>
    <%= c 'input', type: :password, id: 'session[password]' %>

    <label for='session[otp_code]'><%= t 'two_factor_authentication.otp_code.label' %></label>
    <small><%= t 'two_factor_authentication.otp_code.help_text' %></small>
    <%= c 'input', id: 'session[otp_code]' %>

    <%= c 'button', type: 'submit', label: I18n.t('helpers.submit.session.submit') %>
  <% end %>
  <footer>
    <p>
      <%= t 'sessions.form.forgot_password' %>
      <%= link_to new_password_path, class: "Link SignInForm-password-reset-link" do %>
        <%= t 'sessions.form.link_text' %>
      <% end %>
    </p>
  </footer>
</main>
