<main class="PasswordReset">
  <%= c 'heading' do %>
    <%= t 'passwords.new.title' %>
  <% end %>
  <strong><%= t 'passwords.new.description' %></strong>
  
  <%= form_with(url: passwords_path, local: true) do |_form| %>
    <label for='password[email]'><%= t 'helpers.label.password.email' %></label>
    <%= c 'input', type: :email, id: 'password[email]' %>
    <%= c 'button', type: 'submit', label: I18n.t('helpers.submit.password_reset.submit') %>
  <% end %>
</main>
