<main class="PasswordResetForm" data-controller="password-reset-form">
  <%= c 'heading' do %>
    <%= t 'passwords.edit.title' %>
  <% end %>
  <strong><%= t 'passwords.edit.description' %></strong>
  
  <%= form_with(url: user_password_path(user, token: user.confirmation_token), local: true, method: :put)  do |_form| %>
    <label for='password_reset[password]'><%= t 'helpers.label.password_reset.password' %></label>
    <p class="PasswordResetForm-help"><%= help %></p>
    <%= c 'input',
        type: :password,
        id: 'password_reset[password]',
        stimulus_controller: 'password-reset-form',
        stimulus_target: 'password',
        stimulus_action: 'password-reset-form#handleInput'
    %>
    <label for='password_reset[password_confirmation]'><%= t 'helpers.label.password_reset.password_confirmation' %></label>
    <%= c 'input',
        type: :password,
        id: nil,
        name: nil,
        stimulus_controller: 'password-reset-form',
        stimulus_target: 'passwordConfirmation',
        stimulus_action: 'password-reset-form#handleInput'
    %>
    <span
      data-password-reset-form-target="passwordMismatch"
      class="PasswordResetForm-password-mismatch"
      hidden
    >
      <%= t 'passwords.edit.password_mismatch_helper' %>
    </span>
    <%- if user.otp_enabled? %>
      <label for='password_reset[otp_code]'><%= t 'two_factor_authentication.otp_code.label' %></label>
      <small><%= t 'two_factor_authentication.otp_code.help_text' %></small>
      <%= c 'input', id: 'password_reset[otp_code]' %>
    <% end %>
    <%= c 'button',
        type: 'submit',
        label: I18n.t('helpers.submit.password_reset.submit'),
        stimulus_controller: 'password-reset-form',
        stimulus_target: 'submitButton'
    %>
  <% end %>
</main>
