<%= c 'interstitial', style: :stripes do %>
  <%= c 'stack' do %>

    <%= c 'stack', space: :xsmall do %>
      <%= c 'heading', tag: :h1 do %>
        <%= t 'passwords.edit.title' %>
      <% end %>

      <p><%= t 'passwords.edit.description' %></p>
    <% end %>

    <%= form_with(
      url: user_password_path(user, token: user.confirmation_token),
      method: :put,
      data: { turbo: false }
    ) do %>

      <%= c 'stack' do %>
        <%= c('base_field',
          id: 'password_reset[password]',
          label: I18n.t('helpers.label.password_reset.password')
        ) do %>
          <%= c 'input', id: 'password_reset[password]', type: :password %>
        <% end %>

        <%= c('base_field',
          id: 'password_reset[password_confirmation]',
          label: I18n.t('helpers.label.password_reset.password_confirmation')
        ) do %>
          <%= c 'input', id: 'password_reset[password_confirmation]', type: :password %>
        <% end %>

        <% if user.otp_enabled? %>
          <%= c('base_field',
            id: 'password_reset[otp_code]',
            label: I18n.t('two_factor_authentication.otp_code.label'),
            help: I18n.t('two_factor_authentication.otp_code.help_text')
          ) do %>
            <%= c 'input', id: 'password_reset[otp_code]', type: :number %>
          <% end %>
        <% end %>

        <%= c 'button',
          type: 'submit',
          label: I18n.t('helpers.submit.password_reset.submit'),
          styles: [:primary, :block]
        %>
      <% end %>

    <% end %>

  <% end %>
<% end %>
