<main class="PasswordResetForm" data-controller="password-reset-form">
  <%= c 'heading' do %>
    <%= t 'passwords.edit.title' %>
  <% end %>
  <strong><%= t 'passwords.edit.description' %></strong>

  <%= form_with(url: user_password_path(user, token: user.confirmation_token), local: true, method: :put)  do |_form| %>

    <label for='password_reset[password]'><%= t 'helpers.label.password_reset.password' %></label>
    <p class="PasswordResetForm-help"><%= help %></p>

    <%= c 'input',
        type: :password,
        id: 'password_reset[password]',
        data: {
          action: 'input->password-reset-form#handleInput',
          password_reset_form_target: 'password'
        }
    %>

    <label for='password_reset[password_confirmation]'><%= t 'helpers.label.password_reset.password_confirmation' %></label>

    <%= c 'input',
        type: :password,
        id: nil,
        name: nil,
        data: {
          action: 'input->password-reset-form#handleInput',
          password_reset_form_target: 'passwordConfirmation'
        },
    %>

    <span
      data-password-reset-form-target="passwordMismatch"
      class="PasswordResetForm-password-mismatch"
      hidden
    >
      <%= t 'passwords.edit.password_mismatch_helper' %>
    </span>

    <%- if user.otp_enabled? %>
      <label for='password_reset[otp_code]'><%= t 'two_factor_authentication.otp_code.label' %></label>
      <small><%= t 'two_factor_authentication.otp_code.help_text' %></small>
      <%= c 'input', id: 'password_reset[otp_code]' %>
    <% end %>

    <%= c 'button',
        type: 'submit',
        label: I18n.t('helpers.submit.password_reset.submit'),
        data: {
          password_reset_form_target: 'submitButton'
        }
    %>
  <% end %>
</main>
