<main class="PasswordReset">
  <%= c 'heading' do %>
    <%= t 'user.form.password_reset.text' %>
  <% end %>
  
  <%= form_with(url: passwords_path, local: true) do |_form| %>
    <%= c 'input', type: :email, id: 'password[email]' %>
    <%= c 'button', type: 'submit', label: I18n.t('user.form.password_reset.text') %>
  <% end %>
</main>
