<div class="<%= class_attr %>">
  <img src="<%= photo %>" alt="" />
  <%= c 'wrapper', style: :narrow do %>
    <div class="OnboardingHero-text text-serif">
      <%= c 'heading', tag: :h1 do %>
        <%= heading %>
      <% end %>
    </div>
  <% end %>
</div>
