<div <%= attrs %>>
  <%= c 'wrapper' do %>
    <div class="Hero-text">
      <%= c 'stack' do %>
        <%= c 'heading', style: :hero do %>
          <%= I18n.t 'components.hero.title' %>
        <% end %>

        <%= c 'button', label: I18n.t('request.create'), link: new_organization_request_path(organization) %>
      <% end %>
    </div>
  <% end %>
</div>
