<%= c 'stack' do %>

  <div
    class="OnboardingInstructions"
    data-controller="onboarding-instructions"
  >
    <%= c 'stack' do %>
      <div data-action="input->onboarding-instructions#switchChannelInstructions">
        <%= c 'choices',
          stimulus_target: 'onboarding-instructions.channel',
          choices: choices
        %>
      </div>

      <div
        id="email-channel"
        class="OnboardingInstructions-instructions"
        data-target="onboarding-instructions.instructions"
      >
        <%= c 'stack' do %>
         <p class="text-serif">
           <strong><%= t 'components.onboarding_instructions.email.intro' %></strong>
         </p>

          <%= c 'onboarding_email_form', contributor: contributor, jwt: jwt %>
        <% end %>
      </div>

      <div
        id="telegram-channel"
        class="OnboardingInstructions-instructions OnboardingInstructions-telegram text-serif"
        data-target="onboarding-instructions.instructions"
      >
        <%= c 'stack' do %>
          <p><strong><%= t 'components.onboarding_instructions.telegram.intro' %></strong></p>

          <%= c 'steps_list', steps: telegram_steps %>
        <% end %>
        <%= c 'button',
          label: t('components.onboarding_instructions.telegram_explained.link'),
          link: onboarding_telegram_explained_path(jwt: jwt) 
        %>
      </div>
    <% end %>
  </div>

<% end %>
