<%= c 'stack' do %>

  <div
    class="OnboardingInstructions"
    data-controller="onboarding-instructions"
  >
    <%= c 'stack' do %>
      <div data-action="input->onboarding-instructions#switchChannelInstructions">
        <%= c 'choices',
          stimulus_controller: 'onboarding-instructions',
          stimulus_target: 'channel',
          id: 'channel',
          style: :horizontal,
          choices: choices
        %>
      </div>

      <div
        id="email-channel"
        class="OnboardingInstructions-instructions"
        data-onboarding-instructions-target="instructions"
      >
        <%= c 'stack' do %>
         <p class="text-serif">
           <strong><%= t 'components.onboarding_instructions.email.intro' %></strong>
         </p>

          <%= c 'onboarding_email_form', contributor: contributor, jwt: jwt %>
        <% end %>
      </div>

      <div
        id="telegram-channel"
        class="OnboardingInstructions-instructions OnboardingInstructions-telegram text-serif"
        data-onboarding-instructions-target="instructions"
      >
        <p><strong><%= t 'components.onboarding_instructions.telegram.intro' %></strong></p>
        <%= c 'button',
          label: t('components.onboarding_instructions.telegram_explained.link'),
          link: onboarding_telegram_info_path(jwt: jwt)
        %>
      </div>
    <% end %>
  </div>

<% end %>
