<%= c 'stack', **attrs do %>

  <%= c 'stack', class: 'text-serif text-center', space: :xsmall do %>
    <%= c 'heading', tag: :h1 do %>
      <%= t('.heading') %>
    <% end %>

    <p>
      <%= t('.text').html_safe %>
    </p>

    <%= svg('whatsapp-qr-code') %>
  <% end %>

  <%= c 'stack', space: :small do %>
    <%= c 'button',
      styles: [:block, :primary],
      link: open_app,
      label: t('.link'),
      target: '_blank',
      rel: 'noopener noreferrer'
    %>

    <%= c 'copy_button',
      styles: [:block, :secondary],
      label: t('.copy'),
      copy: whats_app_web_url
    %>

    <p class="text-small text-light text-center">
      <%= t('.help') %>
    </p>
  <% end %>
<% end %>
