<%= form_with(model: @user, local: true) do %>
<div class="UserProfile" data-controller="user_profile" data-action="input->user_profile#setDirty">
  <%= c 'avatar', user: user %>
  <%= c 'input',
    placeholder: 'Vor- und Nachname',
    value: user.name,
    id: 'user[name]',
    styles: ['clickToEdit', 'center', 'heading']
  %>
  <%= c 'input',
    placeholder: 'E-Mail-Adresse',
    value: user.email,
    id: 'user[email]',
    styles: ['clickToEdit', 'center']
  %>
  <%= c 'textarea',
      placeholder: 'Klicken, um eine Notiz zu dieser Person zu hinterlegen.',
      id: 'user[note]',
      value: user.note,
      styles: ['clickToEdit', 'center']
  %>
  <div class="UserProfile-actions">
    <%= c 'button', type: 'submit', label: 'Änderungen übernehmen' %>
    <%= c 'button', type: 'reset', label: 'Änderungen verwerfen', styles: ['secondary'] %>
  </div>
</div>
<% end %>
