<%= c 'stack', **attrs do %>

  <%= c 'stack', class: 'text-serif', space: :xsmall do %>
    <%= c 'heading', tag: :h1 do %>
      <%= I18n.t('components.onboarding_signal_form.heading') %>
    <% end %>

    <p><%= I18n.t('components.onboarding_signal_form.text') %></p>
  <% end %>

  <%= form_with(model: contributor, local: true, url: onboarding_signal_path) do %>
    <%= c 'stack' do %>
      <%= c 'field', object: contributor, attr: :first_name do |field| %>
        <%= c 'input', field.input_defaults.merge(required: true) %>
      <% end %>

      <%= c 'field', object: contributor, attr: :last_name do |field| %>
        <%= c 'input', field.input_defaults.merge(required: true) %>
      <% end %>

      <%= c 'field', object: contributor, attr: :signal_phone_number do |field| %>
        <%= c 'input', field.input_defaults.merge(placeholder: '', required: true, type: :tel) %>
      <% end %>

      <%= c('field',
        object: contributor,
        attr: :data_processing_consent,
        styles: [:horizontal, :leftAligned],
        help: I18n.t('contributor.form.data_processing_consent.help', link: data_protection_link).html_safe
      ) do |field| %>
        <%= c 'checkbox', **field.input_defaults, required: true %>
      <% end %>

      <% if Setting.ask_for_additional_consent && Setting.additional_consent_defined %>
        <%= c('field',
          object: contributor,
          attr: :additional_consent,
          styles: [:horizontal, :leftAligned],
          label: Setting.additional_consent_heading,
          help: Setting.additional_consent_text
        ) do |field| %>
          <%= c 'checkbox', field.input_defaults %>
        <% end %>
      <% end %>

      <%= c 'button',
        type: 'submit',
        label: I18n.t('components.onboarding_signal_form.submit'),
        styles: [:primary, :block]
      %>
    <% end %>
  <% end %>

<% end %>
