<%= form_with(
  model: @contributor,
  hidden: true,
  local: true,
  url: onboarding_path(jwt: jwt),
  class: class_attr,
) do %>
  <h1 class="OnboardingTelegramForm-header"><%= t 'components.onboarding_instructions.telegram.confirm.headline'%></h1>
  <p class="OnboardingTelegramForm-subheader"><%= t 'components.onboarding_instructions.telegram.confirm.subheadline'%></p>
  <%= c 'field', object: @contributor, id: :first_name do |field| %>
    <%= c 'input', field.input_defaults.merge(value: first_name) %>
  <% end %>

  <%= c 'field', object: @contributor, id: :last_name do |field| %>
    <%= c 'input', field.input_defaults.merge(value: last_name) %>
  <% end %>

  <input type="hidden" id="contributor[telegram_id]" name="contributor[telegram_id]" value="<%= telegram_id %>" />
  <%= c 'button',
    type: 'submit',
    label: I18n.t('components.onboarding_telegram_form.submit'),
    style: :primary
  %>
<% end %>
