<%= c 'stack', **attrs do %>

  <%= c 'stack', class: 'text-serif', space: :xsmall do %>
    <%= c 'heading', tag: :h1 do %>
      <%= t 'components.onboarding_telegram_form.heading' %>
    <% end %>

    <p><%= t 'components.onboarding_telegram_form.text' %></p>
  <% end %>

  <%= form_with(model: contributor, local: true, url: organization_onboarding_telegram_path(organization)) do %>
    <%= c 'stack' do %>
      <%= c 'field', object: contributor, attr: :first_name do |field| %>
        <%= c 'input', field.input_defaults.merge(required: true) %>
      <% end %>

      <%= c 'field', object: contributor, attr: :last_name do |field| %>
        <%= c 'input', field.input_defaults.merge(required: true) %>
      <% end %>

      <%= c 'input',
        id: 'contributor[telegram_onboarding_token]',
        type: 'hidden',
        value: contributor.telegram_onboarding_token
      %>

      <%= c 'onboarding_consent', organization: organization, contributor: contributor %>

      <%= c 'button',
        type: 'submit',
        label: t('components.onboarding_telegram_form.submit'),
        styles: [:primary, :block]
      %>
    <% end %>
  <% end %>

<% end %>
