<%= form_with(
  model: contributor,
  hidden: true,
  local: true,
  url: onboarding_telegram_path,
  class: class_attr,
) do %>
  <h1 class="OnboardingTelegramForm-header"><%= t 'components.onboarding_telegram_form.heading'%></h1>
  <p class="OnboardingTelegramForm-subheader"><%= t 'components.onboarding_telegram_form.text'%></p>
  <%= c 'field', object: contributor, id: :first_name do |field| %>
    <%= c 'input', field.input_defaults.merge(value: first_name, required: true) %>
  <% end %>

  <%= c 'field', object: contributor, id: :last_name do |field| %>
    <%= c 'input', field.input_defaults.merge(value: last_name, required: true) %>
  <% end %>

  <%= c 'button',
    type: 'submit',
    label: I18n.t('components.onboarding_telegram_form.submit'),
    style: :primary
  %>
<% end %>
