<%= c 'main' do %>
  <%= c 'page_header', styles: [:xnarrow, :inheritBackgroundColor, :flexboxColumn] do %>
    <%= c 'heading', tag: :h1 do %>
      <%= t('message.move.heading') %>
    <% end %>

    <p>
      <%= t(
        'message.move.text',
        name: @message.contributor.name,
        title: @message.request.title
      ).html_safe %>
    </p>
  <% end %>

  <%= c 'section', style: :xnarrow do %>
    <%= c 'chat_message',
      style: :compact,
      hide_actions: true,
      message: @message
    %>

    <%= c 'move_message_form', message: @message %>
  <% end %>
<% end %>
