<div class="Chat">
  <%= c 'stack' do %>
    <%= c 'contributor_row', contributor: contributor %>

    <%= c 'chat_messages', messages: messages %>

    <%= c 'stack' do %>

      <% if active_request? %>
        <%= c 'chat_form', contributor: contributor %>
      <% else %>
        <p>
          <%= t 'components.chat.outdated_request' %>
        </p>
        <%= c 'button',
          label: t('components.chat.link_to_active_request'),
          link: active_conversation_path
        %>
      <% end %>

    <% end %>
  <% end %>
</div>
