<%= c 'card', class: 'ActivityNotifications-card' do %>
  <%= c 'heading', tag: :h2 do %>
    <%= t '.card_heading' %>
  <% end%>
  <% if activity_notifications.any? %>
      <ul role='list' class='ActivityNotifications-list'>
        <% activity_notifications.each do |notification_hash| %>
          <li class='ActivityNotifications-listItem' >
            <%= c 'avatar', organization: organization, record: notification_hash[:record] %>
            <header class='ActivityNotifications-listItemHeader'>
              <p>
                <%= notification_hash[:group_message] %>
              </p>
              <time class='ActivityNotifications-listItemRelativeTime'>
                <%= "vor #{time_ago_in_words(notification_hash[:created_at])}" %>
              </time>
              <%= link_to notification_hash[:url], class: 'Link' do %>
                <%= notification_hash[:link_text] %>
              <% end %>
            </header>
          </li>
        <% end %>
      </ul>
  <% else %>
    <%= c 'empty_state' do %>
      <%= t '.empty_state' %>
    <% end %>
  <% end %>
<% end %>
