<%= c 'card', class: 'ActivityNotifications' do %>
  <%= c 'heading', tag: :h2 do %>
    <%= t 'dashboard.activity_notifications.card_heading' %>
  <% end%>
  <% if activity_notifications.any? %>
      <ul role='list' class='ActivityNotifications-list'>
        <% activity_notifications.each do |activity_notification| %>
          <li class='ActivityNotifications-listItem' >
            <%= c 'avatar',
                contributor: activity_notification.to_notification.contributor,
                style: :large
            %>
            <header class='ActivityNotifications-listItemHeader'>
              <p>
                <%= activity_notification.to_notification.message %>
              </p>
              <time class='ActivityNotifications-listItemRelativeTime'>
                <%= "vor #{time_ago_in_words(activity_notification.created_at)}" %>
              </time>
              <%= link_to activity_notification.to_notification.url, class: 'Link' do %>
                <%= activity_notification.to_notification.link_text %>
              <% end %>
            </header>
          </li>
        <% end %>
      </ul>
  <% else %>
    <%= c 'empty_state' do %>
      <%= t 'dashboard.activity_notifications.empty_state' %>
    <% end %>
  <% end %>
<% end %>
