<label class="<%= class_attr %>">
  <div class="Field-phrasing-content">
    <%= label %>
    <% if help %>
      <small class="Field-help"><%= help %></small>
    <% end %>
    <% if validation_errors.any? %>
      <% validation_errors.each do |error| %>
        <strong class="Field-error">
          <%= error %>
        </strong>
      <% end %>
    <% end %>
  </div>
  <%= content %>
</label>
