<%= c 'box', styles: [:large, :gray] do %>
  <%= c 'wrapper' do %>
    <%= c 'flex' do %>
      <%= c 'heading' do %>
        <%= User.count %> <%= I18n.t 'user.user', count: User.count %>
      <% end %>

      <div class="text-center">
        <%= c 'stack', space: :small do %>
          <%= c 'button',
            label: I18n.t('user.create'),
            link: new_user_path
          %>
          <br>
          <%= c 'create_invite_button' %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= c 'box', style: :large do %>
  <%= c 'wrapper' do %>
    <%= c 'stack' do %>
      <% @users.each do |user| %>
        <%= c 'user_row', user: user %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
