<%= c 'page_header', class: 'ContributorHeader', styles: [:inheritBackgroundColor, :noPaddingLeftRight] do %>
  <%= c 'avatar',
    organization: organization,
    record: contributor,
    expandable: true,
    style: :large,
    class: 'ContributorHeader-avatar'
  %>

  <div>
    <%= link_to_unless_current c('heading') { contributor.name }, organization_contributor_path(organization, contributor), class: "ContributorHeader-contributor" %>
    <p class="text-small text-light">
      <%= t('.created_at', date: l(contributor.created_at.to_date)) %>

      <% if contributor.inactive? %>
        <%= inactive_message %>
      <% end %>
    </p>

    <div class="text-small text-light">
      <a class="Link" href="<%= edit_organization_contributor_path(organization, contributor) %>"><%= t('.edit') %></a>
      ·
      <%= c('form',
        model: [organization, contributor],
        auto_submit: true,
        multipart: true,
        style: :inline,
      ) do %>
        <%= c 'upload_button',
          styles: [:inline, :underline],
          input_label: t('.avatar'),
          button_label: t('.change_avatar'),
          id: 'contributor[avatar]',
          name: 'contributor[avatar]'
        %>
        <%= c 'submit_button', class: 'visually-hidden', label: t('.change_avatar') %>
      <% end %>
    </div>
  </div>
<% end %>
