<div class="TwoFactorAuthSetup">
  <header class="TwoFactorAuthSetup-explained">
    <h1 class="TwoFactorAuthSetup-explained-header"><%= t 'components.two_factor_auth_setup.header' %></h1>
    <p class="TwoFactorAuthSetup-explained-steps"><%= t 'components.two_factor_auth_setup.step_1' %></p>
    <p class="TwoFactorAuthSetup-explained-steps"><%= t 'components.two_factor_auth_setup.step_2' %></p>
  </header>

  <section class="TwoFactorAuthSetup-device-setup">
    <%= qr_code_as_svg %>
    <%= c 'copy_button',
      label: t('components.two_factor_auth_setup.copy_secret_key.label'),
      success: t('components.two_factor_auth_setup.copy_secret_key.success'),
      text: user.otp_secret_key,
      style: :inline
    %>
  </section>

  <%= form_with(model: user, url: two_factor_auth_setup_user_setting_path, local: true) do %>
    <label for='user[otp_code]'><%= t 'two_factor_authentication.otp_code.label' %></label>
    <small><%= t 'two_factor_authentication.otp_code.help_text' %></small>
    <%= c 'input', id: 'user[otp_code]' %>

    <%= c 'button', type: 'submit', label: I18n.t('two_factor_authentication.otp_code.submit') %>
  <% end %>
</div>
