<%= form_with(url: two_factor_auth_setup_user_setting_path(user), method: :patch, local: true, class: 'TwoFactorAuthSetup') do %>
  <%= c 'stack' do %>
    <%= c 'heading' do %>
      <%= t 'components.two_factor_auth_setup.header' %>
    <% end %>
    <p><%= t 'components.two_factor_auth_setup.subheader' %></p>
    <%= qr_code_as_svg %>

    <%= c 'field', object: user, id: :otp_code do |field| %>
      <%= c 'input', field.input_defaults.merge(value: nil) %>
    <% end %>

    <%= c 'button', type: 'submit', label: I18n.t('two_factor_authentication.otp_code.submit') %>
  <% end %>
<% end %>
