<%= c 'main' do %>
  <%= c 'page_header', styles: [:wide, :inheritBackgroundColor, :xlargePaddingTop, :spaceBetween] do %>
    <%= c 'heading' do %>
      <%= "Register Signal Number" %>
    <% end %>
  <% end %>

  <%= c 'section', styles: [:wide, :largeBottomMargin] do %>
    <header>
      <%= c 'heading', tag: :h2 do %>
        Generate a captcha
      <% end %>
      <p>To get the token, go to <a href="https://signalcaptchas.org/registration/generate.html">https://signalcaptchas.org/registration/generate.html</a></p>

      <p>If the token from that page doesn't work, you can try <a>https://signalcaptchas.org/challenge/generate.html</a></p>

      <p>After filling the captcha, the site doesn't immediately show the token but tries to redirect to a signalcaptcha:// url that contains the token.</p>
      <p>
      After a short moment, a link will appear underneath the captcha called "Open Signal".
      Get the token by right clicking on it and clicking: copy url. You can paste that directly into:
      </p>
    </header>
    <%= c 'form', model: @organization, url: organization_signal_register_path(@organization), method: :post do %>
      <%= c 'base_field', id: 'organization[signal][captcha]', label: 'Captcha' do |field| %>
        <% c 'input', id: 'organization[signal][captcha]', value: nil %>
      <% end %>

      <%= c 'submit_button', label: t('save') %>
    <% end %>
  <% end %>
<% end %>
