<div
  <%= attrs.slice(:class) %>
  data-controller="textarea"
  data-action="input->textarea#resize input->textarea#highlightPlaceholders"
>
  <div class="Textarea-wrapper">
    <textarea
      class="Textarea-input"
      data-textarea-target="input"
      <%= attrs.except(:class) %>
    ><%= value %></textarea>

    <% if highlight_placeholders? %>
      <div
        class="Textarea-highlights"
        data-textarea-target="highlights"
        aria-hidden="true"
      ></div>
    <% end %>
  </div>

  <% if show_emoji_picker_hint? && emoji_picker_supported? %>
    <p class="Textarea-emojiPickerHint text-small text-light">
      <%= t('.windows_emoji_picker_hint').html_safe if windows_emoji_picker_supported? %>
      <%= t('.macos_emoji_picker_hint').html_safe if macos_emoji_picker_supported? %>
    </p>
  <% end %>
</div>
