<header class="<%= class_attr %>">
  <% if logo? %>
    <img src="<%= url_for(logo) %>" alt="<%= project_name %>" />
  <% else %>
    <div class="OnboardingHeader__logoText">
      <%= project_name %>
    </div>
  <% end %>

  <% if byline %>
    <span class="OnboardingHeader-byline">
      <%= byline %>
    </span>
  <% end %>
</header>
