<%= c 'main' do %>
  <%= c 'page_header', styles: [:largeMarginBottom, :spaceBetween, :wide]  do |header| %>
    <div>
      <%= c 'heading', style: :alpha do %>
        <%= I18n.t 'request.request', count: :many %>
      <% end %>
      <p><%= t('request.subheading') %></p>
    </div>

    <%= c 'new_request_link', organization: @organization %>

    <% header.tab_bar do %>
      <%= c('tab_bar', items: [
        {
          url: organization_requests_path(@organization),
          label: "Gestellt",
          active: @filter == :sent,
          count: @sent_requests_count
        },
        {
          url: organization_requests_path(@organization, filter: :planned),
          label: "Geplant",
          active: @filter == :planned,
          count: @planned_requests_count
        },
      ]) %>
    <% end %>
  <% end %>

  <%= c 'section', styles: [:wide] do %>
    <%= paginate @requests, params: { path: organization_requests_path(@organization), query: { filter: @filter } } %>
    <% @requests.each do |request| %>
      <%= c 'request_row', request: request %>
    <% end %>
    <%= paginate @requests, params: { path: organization_requests_path(@organization), query: { filter: @filter } } %>
  <% end %>
<% end %>
