<div
  <%= attrs.slice(:class) %>
  data-controller="password-input"
  data-password-input-unmask-value="<%= t('.unmask') %>"
  data-password-input-mask-value="<%= t('.mask') %>"
  data-password-input-min-length-value="<%= minlength %>"
>
  <%= c 'input',
    id: id,
    type: :password,
    required: true,
    minlength: minlength,
    data: {
      password_input_target: 'input',
      action: 'input->password-input#validate',
    },
    **attrs.except(:class)
  %>

  <%= c('button',
    styles: [:inline, :underline],
    class: 'PasswordInput-toggle',
    type: 'button',
    data: {
      action: 'click->password-input#toggle',
      password_input_target: 'toggle'
    },
  ) do %>
    <%= t('.unmask') %>
  <% end %>
</div>
