<div
  <%= attrs.slice(:class) %>
  data-controller="password-input"
  data-password-input-unmask-value="<%= t('.unmask') %>"
  data-password-input-mask-value="<%= t('.mask') %>"
  data-password-input-min-length-value="<%= minlength %>"
>
  <%= c 'input',
    id: id,
    type: :password,
    required: true,
    minlength: minlength,
    aria: { describedby: show_validations ? "#{id}-validations" : nil },
    data: {
      password_input_target: 'input',
      action: 'input->password-input#validate',
    },
    **attrs.except(:class)
  %>

  <%= c('button',
    styles: [:inline, :underline],
    class: 'PasswordInput-toggle',
    type: 'button',
    data: {
      action: 'click->password-input#toggle',
      password_input_target: 'toggle'
    },
  ) do %>
    <%= t('.unmask') %>
  <% end %>

  <% if show_validations %>
    <ul class="PasswordInput-validations" id="<%= id %>-validations">
      <% validations.each do |key, description| %>
        <li
          class="PasswordInput-validation"
          data-password-input-target="<%= key %>"
        >
          <%= c 'icon',
            class: 'PasswordInput-validIcon',
            icon: 'f-check',
            style: :inline,
            label: t('.valid_icon_label')
          %>

          <%= c 'icon',
            class: 'PasswordInput-invalidIcon',
            icon: 'f-remove',
            style: :inline,
            label: t('.invalid_icon_label')
          %>

          <%= description %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
