<div
  <%= attrs.slice(:class) %>
  data-controller="password-input"
  data-password-input-unmask-value="<%= t('.unmask') %>"
  data-password-input-mask-value="<%= t('.mask') %>"
>
  <%= c 'input',
    type: :password,
    data: { password_input_target: 'input' },
    required: true,
    **attrs.except(:class)
  %>

  <%= c('button',
    styles: [:inline, :underline],
    class: 'PasswordInput-toggle',
    type: 'button',
    data: {
      action: 'click->password-input#toggle',
      password_input_target: 'toggle'
    }
  ) do %>
    <%= t('.unmask') %>
  <% end %>
</div>
