<section style="padding: 20px">
  <h1 style="padding-bottom: 20px">Stats</h1>
  <p><strong>Email contributors:</strong> <%= email_contributors_count %></p>
  <p><strong>Threema contributors:</strong> <%= threema_contributors_count %></p>
  <p><strong>Telegram contributors:</strong> <%= telegram_contributors_count %></p>
  <p><strong>Signal contributors:</strong> <%= signal_contributors_count %></p>
  <p><strong>WhatsApp contributors:</strong> <%= whats_app_contributors_count %></p>
</section>
