<div class="<%= class_attr %>">
  <% choices.each do |choice| %>
    <label>
      <input
        name="channel"
        value="<%= choice[:value] %>"
        type="radio"
        data-<%= stimulus_controller %>-target="<%= stimulus_target %>"
        <%= 'checked' if choice[:value] == value %>
      />
      <%= choice[:label].html_safe %>
    </label>
  <% end %>
</div>
