<div class="<%= class_attr %>">
  <% choices.each do |choice| %>
    <label>
      <input
        name="channel"
        value="<%= choice[:value] %>"
        type="radio"
        data-<%= stimulus_controller %>-target="<%= stimulus_target %>"
      />
      <%= choice[:label] %>
    </label>
  <% end %>
</div>
