<div class="<%= class_attr %>">
  <% choices.each do |choice| %>
    <label>
      <input
        name="<%= id %>"
        value="<%= choice[:value] %>"
        type="radio"
        <%= 'checked' if choice[:value] == value %>
      />
      <div>
        <strong><%= choice[:label] %></strong>
        <% if choice[:help] %>
          <span class="Choices-help"><%= choice[:help] %></span>
        <% end %>
      </div>
    </label>
  <% end %>
</div>
