<main <%= attrs %>>
  <%= c 'wrapper', style: size do %>
    <% if styles.include?(:stripes) %>

     <%= c 'card', style: :large do %>
       <%= content %>
     <% end %>

    <% else %>

      <%= c 'box' do %>
        <%= content %>
      <% end %>

    <% end %>
  <% end %>
</main>
