<main <%= attrs %>>
  <%= c 'wrapper', style: size do %>
    <% if styles.include?(:stripes) %>

     <%= c 'card' do %>
       <%= c 'box', style: :large do %>
         <%= content %>
       <% end %>
     <% end %>

    <% else %>

      <%= c 'box' do %>
        <%= content %>
      <% end %>

    <% end %>
  <% end %>
</main>
