<div class="ChatMessagesGroup" id="<%= id %>">
  <%= c 'stack', space: :small do %>
    <div class="ChatMessagesGroup-header">
      <div class="ChatMessagesGroup-avatar">
        <%= c 'avatar', organization: organization, record: contributor, styles: [:small] %>
      </div>

      <%= c 'heading', tag: :h3 do %>
        <a class="ChatMessagesGroup-contributor" href="<%= organization_contributor_path(organization, contributor) %>">
          <%= contributor.name %>
        </a>
      <% end %>

      <div class="ChatMessagesGroup-actions">
        <a href="<%= conversations_organization_contributor_path(organization, contributor) %>">
          <%= c 'icon', icon: 'conversations', styles: [:inline] %>
          <%= I18n.t('components.chat_messages_group.conversations') %>
        </a>
        <a href="<%= add_message_link %>">
          <%= c 'icon', icon: 'add', styles: [:inline] %>
          <%= I18n.t('components.chat_messages_group.add_message') %>
        </a>
      </div>
    </div>

    <div class="ChatMessagesGroup-messages">
      <%= c 'chat_messages', messages: messages, styles: [:compact] %>
    </div>
  <% end %>
</div>
