<%= c('button',
  style: :inline,
  data: {
    controller: 'create-invite-button',
    action: 'click->create-invite-button#copyLink'
  }
) do %>
  <span data-create-invite-button-target="label">
    <%= t 'components.create_invite_button.label' %>
  </span>
  <span data-create-invite-button-target="loading" hidden>
    <%= t 'components.create_invite_button.loading' %>
  </span>
  <span
    class="CreateInviteButton-success"
    data-create-invite-button-target="success"
    hidden
  >
    <%= c 'icon', icon: 'f-check', style: :inline %>
    <%= t 'components.create_invite_button.success' %>
  </span>
<% end %>
