<div <%= attrs %>>
  <% if total.present? && styles.include?(:large) %>
    <div
      class="Metric-progress"
      style="--progress: calc(<%= value %> / <%= total %> * 100%)"
    ></div>
  <% end %>

  <span class="Metric-icon">
    <% if custom_icon %>
      <%= svg custom_icon %>
    <% else %>
      <%= c 'icon', icon: icon, style: :inline %>
    <% end %>
  </span>

  <span class="Metric-value">
    <%= formatted %>
  </span>

  <span class="Metric-label">
    <%= label %>
  </span>
</div>
