<div class="RequestForm" data-controller="request-form">
  <div class="RequestForm-column" data-action="input->request-form#updatePreview">
    <%= c 'stack', space: :large do %>

      <%= c 'field',label: I18n.t('request.form.title.label'), help: I18n.t('request.form.title.help') do %>
        <%= c 'input',
          id: :title,
          placeholder: I18n.t('request.form.title.placeholder'),
          required: true
        %>
      <% end %>

      <%= c 'field', label: I18n.t('request.form.text.label'), help: I18n.t('request.form.text.help') do %>
        <%= c 'textarea',
          id: :text,
          placeholder: I18n.t('request.form.text.placeholder'),
          required: true,
          stimulus_target: 'request-form.message'
        %>
      <% end %>

      <%= c 'field', label: I18n.t('request.form.hints.label'), help: I18n.t('request.form.hints.help') do %>

        <%= c 'stack', space: :small do %>
          <% hints.each do |key, label| %>
            <%= c 'checkbox',
              id: :hints,
              group: true,
              value: key,
              label: label,
              stimulus_target: "request-form.#{key}"
            %>
          <% end %>
        <% end %>

      <% end %>

      <%= c 'button', type: 'submit', label: I18n.t('request.send') %>

    <% end %>
  </div>

  <div class="RequestForm-column">
    <%= c 'stack', space: :small do %>
      <strong><%= I18n.t('request.form.preview') %></strong>
      <div class="RequestForm-preview PlaintextMessage" data-target="request-form.preview"></div>
    <% end %>
  </div>
</div>
