<%= form_with(scope: :request, url: requests_path, local: true, class: "RequestForm", data: { controller: "request-form"}) do %>
  <div class="RequestForm-column" data-action="input->request-form#updatePreview">
    <%= c 'stack', space: :large do %>

      <%= c 'field', object: @request, id: :title, help: I18n.t('request.form.title.help') do |field| %>
        <%= c 'input', field.input_defaults.merge(required: true) %>
      <% end %>

      <%= c 'field', object: @request, id: :text, help: I18n.t('request.form.text.help') do |field| %>
        <%= c 'textarea', field.input_defaults.merge(
          required: true,
          stimulus_target: 'request-form.message'
        ) %>
      <% end %>
      <%= c 'field', object: @request, id: :hints, help: I18n.t('request.form.hints.help') do |field|%>
      <%= c 'stack', space: :small do %>
        <% hints.each do |key, label| %>
          <%= c 'checkbox',
            field.checkbox_defaults.merge(
            group: true,
            value: key,
            label: label,
            stimulus_target: "request-form.#{key}"
          )
          %>
        <% end %>
      <% end %>

    <% end %>

      <%= c 'button', type: 'submit', label: I18n.t('request.send') %>

    <% end %>
  </div>

  <div class="RequestForm-column">
    <%= c 'stack', space: :small do %>
      <strong><%= I18n.t('request.form.preview') %></strong>
      <%= c 'box', styles: [:small, :gray] do %>
        <div class="RequestForm-preview PlaintextMessage" data-target="request-form.preview"></div>
      <% end %>
    <% end %>
  </div>
<% end %>
