<div
  class="RequestForm"
  data-controller="request-form"
  data-request-form-members-count-message-value="<%= t('components.request_form.members_count_message').to_json %>"
  data-request-form-preview-fallback-value="<%= t('components.request_form.preview_fallback') %>"
>

  <div class="RequestForm-column" data-action="input->request-form#updatePreview">
    <%= form_with(scope: :request, url: requests_path, local: true, multipart: true) do %>
      <%= c 'stack', space: :large do %>

        <%= c 'field', object: @request, attr: :title do |field| %>
          <%= c 'input', field.input_defaults.merge(required: true) %>
        <% end %>

        <%= c 'field', object: @request, attr: :text do |field| %>
          <%= c 'toolbar', 'aria-controls': 'request[text]' do %>
            <%= c 'button',
              style: :secondary,
              class: 'RequestForm-insertPlaceholderButton',
              type: 'button',
              label: t('.insert_placeholder_button'),
              data: { action: 'click->request-form#insertPlaceholderAtCursor' }
            %>
            <%= c 'button',
              style: :secondary,
              class: 'RequestForm-insertPlaceholderButton',
              type: 'button',
              data: { action: 'request-form#insertImage' } do %>
              <%= field.file_field(:request,
                                   :files,
                                   data: { request_form_target: 'imageInput' },
                                   multiple: true,
                                   accept: 'image/*'

              ) %>
              <%= t('.attach_image_to_message') %>
            <% end %>
          <% end %>
          <%= c 'textarea', field.input_defaults.merge(
            required: true,
            show_emoji_picker_hint: true,
            highlight_placeholders: true,
            data: { request_form_target: 'message' }
          ) %>
          <% if @request.errors[:files].any? %>
            <strong class="RequestForm-imageErrorMessage">
              <%= t('activestorage.blob.disallowed_image_content_type') %>
            </strong>
          <% end %>
          <div class="RequestForm-filenamesWrapper RequestForm-filenamesWrapper--hidden">
            <%= c 'heading', style: :gamma do %>
              <%= t('.attached_images') %>
            <% end %>
            <ul
              data-request-form-target="filenames"
              class="RequestForm-filenamesList"
            ></ul>
          </div>
        <% end %>

        <%= c 'field', object: @request, attr: :schedule_send_for do  |field| %>
          <%= c 'input', field.input_defaults.merge(type: 'datetime-local') %>
        <% end %>

        <%= c 'field', object: @request, attr: :tag_list do |field| %>
          <%= c 'stack', space: :small do %>
            <%= c 'callout', style: :small, data: { request_form_target: 'membersCount' } %>

            <div data-action="changeTags->request-form#updateMembersCount">
              <%= c 'tags_input', field.input_defaults.merge(
                available_tags: available_tags,
                allow_new: false
              ) %>
            </div>
          <% end %>
        <% end %>

        <%= c 'button',
          type: 'submit',
          styles: [:block, :primary],
          label: I18n.t('request.send')
        %>

      <% end %>
    <% end %>
  </div>

  <div class="RequestForm-column">
    <%= c 'device_frame', class: 'RequestForm-preview' do %>
      <%= c 'chat_preview' do %>
        <span data-request-form-target="preview"></span>
      <% end %>
    <% end %>
  </div>

</div>
