<div
  class="RequestForm"
  data-controller="request-form"
  data-request-form-members-count-message-value="<%= t('components.request_form.members_count_message').to_json %>"
  data-request-form-preview-fallback-value="<%= t('components.request_form.preview_fallback') %>"
>

  <div class="RequestForm-column" data-action="input->request-form#updatePreview">
    <%= form_with(scope: :request, url: requests_path, local: true) do %>
      <%= c 'stack', space: :large do %>

        <%= c 'field', object: @request, attr: :title do |field| %>
          <%= c 'input', field.input_defaults.merge(required: true) %>
        <% end %>

        <%= c 'field', object: @request, attr: :text do |field| %>
          <%= c 'textarea', field.input_defaults.merge(
            required: true,
            show_emoji_picker_hint: true,
            highlight_placeholders: true,
            data: { request_form_target: 'message' }
          ) %>
        <% end %>

        <%= c 'field', object: @request, attr: :tag_list do |field| %>
          <%= c 'stack', space: :small do %>
            <%= c 'callout', style: :small, data: { request_form_target: 'membersCount' } %>

            <div data-action="changeTags->request-form#updateMembersCount">
              <%= c 'tags_input', field.input_defaults.merge(
                available_tags: available_tags,
                allow_new: false
              ) %>
            </div>
          <% end %>
        <% end %>

        <%= c 'button',
          type: 'submit',
          styles: [:block, :primary],
          label: I18n.t('request.send')
        %>

      <% end %>
    <% end %>
  </div>

  <div class="RequestForm-column">
    <%= c 'device_frame', class: 'RequestForm-preview' do %>
      <%= c 'chat_preview' do %>
        <span data-request-form-target="preview"></span>
      <% end %>
    <% end %>
  </div>

</div>
