<main class="TwoFactorAuthentication">
  <%= c 'heading' do %>
    <%= t 'user.sign_in.two_factor_authentication.header' %>
  <% end %>
  <%= form_with(model: user, url: verify_user_session_path(jwt: jwt), local: true) do |_form| %>
    <% unless user.otp_module_enabled? %>
      <%= qr_code_as_svg %>
    <% end %>

    <label for='session[otp_code_token]'><%= t 'helpers.label.session.password' %></label>
    <%= c 'input', id: 'session[otp_code_token]' %>
    <%= c 'button', type: 'submit', label: I18n.t('user.sign_in.two_factor_authentication.submit') %>
  <% end %>
</main>
