<%= form_with(model: user, local: true, class: "UserForm" ) do %>
  <%= c 'stack' do %>
    <%= c 'field', object: user, id: :first_name, styles: [:horizontal] do |field| %>
      <%= c 'input', field.input_defaults %>
    <% end %>

    <%= c 'field', object: user, id: :last_name, styles: [:horizontal] do |field| %>
      <%= c 'input', field.input_defaults %>
    <% end %>

    <%= c 'field', object: user, id: :phone, styles: [:horizontal] do |field| %>
      <%= c 'input', field.input_defaults.merge(type: :phone) %>
    <% end %>

    <%= c 'field', object: user, id: :email, styles: [:horizontal] do |field| %>
      <%= c 'input', field.input_defaults %>
    <% end %>

    <%= c 'field', object: user, id: :username, styles: [:horizontal] do |field| %>
      <%= c 'input', field.input_defaults.merge(disabled: true) %>
    <% end %>

    <%= c 'field', object: user, id: :street, styles: [:horizontal] do |field| %>
      <%= c 'input', field.input_defaults %>
    <% end %>

    <%= c 'field', object: user, id: :zip_code, styles: [:horizontal] do |field| %>
      <%= c 'input', field.input_defaults %>
    <% end %>

    <%= c 'field', object: user, id: :city, styles: [:horizontal] do |field| %>
      <%= c 'input', field.input_defaults %>
    <% end %>

    <%= c 'field', object: user, id: :tag_list, styles: [:horizontal] do |field| %>
      <%= c 'tags_input', field.input_defaults %>
    <% end %>

    <%= c 'field', object: user, id: :note, styles: [:horizontal] do |field| %>
      <%= c 'textarea', field.input_defaults
      %>
    <% end %>
  
    <div class="UserForm-actions">
      <%= c 'button', type: 'submit', label: I18n.t('save'), styles: [:primary, :positive] %>
      <%= c 'button', type: 'reset', label: I18n.t('discard'), styles: [:plain, :danger] %>
    </div>
  <% end %>
<% end %>
