<div
  class="UserForm"
  data-controller="user-form"
  data-action="input->user-form#setDirty reset->user-form#resetDirty"
>
  <%= form_with(model: @user, local: true) do %>
    <%= c 'stack' do %>
      <%= c 'field', label: I18n.t('contributor.form.name.label'), styles: [:horizontal] do %>
        <%= c 'input',
          placeholder: I18n.t('contributor.form.name.placeholder'),
          value: user.name,
          id: 'user[name]',
          styles: [:small]
        %>
      <% end %>

      <%= c 'field', label: I18n.t('contributor.form.email.label'), styles: [:horizontal] do %>
        <%= c 'input',
          placeholder: I18n.t('contributor.form.email.placeholder'),
          value: user.email,
          id: 'user[email]',
          styles: [:small]
        %>
      <% end %>

      <%= c 'field', label: I18n.t('contributor.form.telegram.label'), styles: [:horizontal] do %>
        <%= c 'input',
          placeholder: I18n.t('contributor.form.telegram.placeholder'),
          value: user.username,
          id: 'user[username]',
          disabled: true,
          styles: [:small]
        %>
      <% end %>

      <%= c 'field', label: I18n.t('contributor.form.note.label'), styles: [:horizontal] do %>
        <%= c 'textarea',
            placeholder: I18n.t('contributor.form.note.placeholder', name: @user.name),
            id: 'user[note]',
            value: user.note,
            styles: [:small]
        %>
      <% end %>

      <div class="UserForm-actions">
        <%= c 'button', type: 'submit', label: I18n.t('save'), styles: [:primary, :positive] %>
        <%= c 'button', type: 'reset', label: I18n.t('discard'), styles: [:plain, :danger] %>
      </div>
    <% end %>
  <% end %>
</div>
