<%= c 'main', data: { controller: 'contributors-index' }, **attrs do %>
  <%= c 'page_header', styles: [:lightGrayBackground, :spaceBetween, :largeMarginBottom] do |header| %>
    <div>
      <%= c 'heading' do %>
        <%= I18n.t 'contributor.contributor', count: :other %>
      <% end %>
      <p><%= t('.subheading') %></p>
    </div>

    <%= c 'copy_button',
      label: t('.actions.copy_invite'),
      styles: [:colorNavBar, :customIcon],
      url: invites_url,
      key: 'url',
      custom_icon: 'onboarding-ticket'
    %>

    <% header.tab_bar do %>
      <%= c('tab_bar', items: [
        {
          url: contributors_path(state: :active, tag_list: tag_list.present? ? @tag_list : nil),
          label: t('.contributors_filter.active'),
          active: state == :active,
          count: active_contributors_count,
        },
        {
          url: contributors_path(state: :inactive, tag_list: tag_list.present? ? @tag_list : nil),
          label: t('.contributors_filter.inactive'),
          active: state == :inactive,
          count: inactive_contributors_count,
        },
        {
          url: contributors_path(state: :unsubscribed, tag_list: tag_list.present? ? @tag_list : nil),
          label: t('.contributors_filter.unsubscribed'),
          active: state == :unsubscribed,
          count: unsubscribed_contributors_count,
        },
        {
          label: t('.filter_section.submit_button'),
          icon: "filter-tool",
          data: { action: 'contributors-index#toggleFilterSection' },
          class: "ContributorsIndex-toggleFilterSectionButton",
        }
      ]) %>
    <% end %>
  <% end %>

  <%= c('section',
    class: 'ContributorsIndex-filterSection',
    data: { contributors_index_target: 'filterSection' },
    hidden: true
  ) do %>
    <%= c('form',
      url: contributors_path,
      method: 'get',
      multiple: true
    ) do %>
      <%= hidden_field_tag :state, state  %>

      <label class="ContributorsIndex-filterSectionLabel">
        <%= t('.filter_section.heading') %>
        <%= c 'tags_input',
          id: 'ContributorsIndex-filterTagsInput',
          available_tags: available_tags,
          allow_new: false, name: 'tag_list[]',
          value: tag_list
        %>
      </label>
      <%= c 'submit_button',
        styles: [:secondary],
        label: t('.filter_section.submit_button')
      %>
      <%= c 'button',
        styles: [:secondary, :warning],
        label: t('.filter_section.clear_button'),
        data: { action: 'contributors-index#clearTags' }
      %>
    <% end %>
  <% end %>

  <%= c 'section' do %>
    <% if contributors.present? && tag_list.present? %>
      <p><%= t('.filter_active_text', count: tag_list.size).html_safe %>
        <strong>
          <% tag_list.map do |tag| %>
            <%= " (#{tag})" %>
          <% end %>
        </strong>
      </p>
    <% end %>
    <%= paginate contributors, params: { path: contributors_path, query: { state: state, tag_list: tag_list.present? ? @tag_list : nil } } %>
      <%= c 'contributors_list', organization: @organization, contributors: contributors, filter_active: tag_list.present? %>
    <%= paginate contributors, params: { path: contributors_path, query: { state: state, tag_list: tag_list.present? ? @tag_list : nil } } %>
  <% end %>
<% end %>
