<%= c 'card', **attrs.merge(id: "request-#{request.id}") do %>
  <%= link_to request.planned? ? edit_organization_request_path(request.organization_id, request) : organization_request_path(request.organization_id, id: request.id) do %>
    <%= c 'box' do %>
      <%= c 'stack', space: :small do %>

        <%= c 'stack', space: :xsmall do %>
          <% if request.planned? %>
            <div class="RequestRow-editableWrapper">
              <%= c 'heading', tag: :h2 do %>
                <%= request.title %>
              <% end %>
              <%= c 'icon', icon: 'pen', styles: [:inline] %>
              <%= c 'icon', icon: 'bin', styles: [:inline] %>
            </div>
          <% else %>
            <%= c 'heading', tag: :h2 do %>
              <%= request.title %>
            <% end %>
          <% end %>

          <%= c 'plaintext_message',
            message: request.text,
            highlight_placeholders: true
          %>

          <div class="RequestRow-meta">
            <% if request.tags.any? %>
              <%= c 'tags_list', tags: request.tags %>
            <% end %>

            <span>
              <%= I18n.t("request.#{request.planned? ? 'planned_for' : 'created_at'}",
                         datetime: date_time(request.planned? ? request.schedule_send_for : (request.broadcasted_at || request.created_at)))
              %>
            </span>

            <%= c 'inline_metrics', metrics: request_metrics, path: stats_organization_request_path(request.organization_id, request) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
