<%= c 'card', **attrs do %>
  <%= link_to editable? ? edit_request_path(request) : request_path(id: request.id) do %>
    <%= c 'box' do %>
      <%= c 'stack', space: :small do %>

        <%= c 'stack', space: :xsmall do %>
          <% if editable? %>
            <div class="RequestRow-editableWrapper">
              <%= c 'heading', tag: :h2 do %>
                <%= request.title %>
              <% end %>
              <%= c 'icon', icon: 'pen', styles: [:inline] %>
            </div>
          <% else %>
            <%= c 'heading', tag: :h2 do %>
              <%= request.title %>
            <% end %>
          <% end %>

          <%= c 'plaintext_message',
            message: request.text,
            highlight_placeholders: true
          %>

          <div class="RequestRow-meta">
            <% if request.tags.any? %>
              <%= c 'tags_list', tags: request.tags %>
            <% end %>

            <span>
              <%= I18n.t("request.#{planned_request? ? 'planned_for' : 'created_at'}",
                         datetime: date_time(planned_request? ? request.schedule_send_for : request.created_at))
              %>
            </span>

            <%= c 'request_metrics', request: request, style: :inline %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
