<a class="<%= class_names.join(' ') %>" href="<%= link %>">
  <div class="Excerpt-header">
    <div class="Excerpt-title">
      <%= c 'heading', tag: :h3 do %>
        <%= title %>
      <% end %>
    </div>
    <span class="Excerpt-date">
      <%= time_ago_in_words(date) %>
    </span>
  </div>
  <p class="Excerpt-text">
    <%= text %>
  </p>
</a>
