<a class="<%= class_attr %>" href="<%= link %>">
  <% if sender %>
    <%= c 'avatar', organization: organization, record: sender %>
  <% end %>
  <div class="Excerpt-infoWrapper">
    <div class="Excerpt-header">
      <div class="Excerpt-title">
        <%= c 'heading', tag: :h3 do %>
          <%= title %>
        <% end %>
      </div>
      <span class="Excerpt-date">
        <%= date_time(date) %>
      </span>
    </div>
    <p class="Excerpt-text">
      <%= text %>
    </p>
  </div>
</a>
