<%= c 'stack', **attrs do %>

  <%= c 'stack', class: 'text-serif', space: :xsmall do %>
    <%= c 'heading', tag: :h1 do %>
      <%= I18n.t('components.onboarding_email_form.heading') %>
    <% end %>

    <p><%= I18n.t('components.onboarding_email_form.text') %></p>
  <% end %>

  <%= form_with(model: contributor, local: true, url: onboarding_email_path) do %>
    <%= c 'stack' do %>
      <%= c 'field', object: contributor, attr: :first_name do |field| %>
        <%= c 'input', field.input_defaults.merge(required: true) %>
      <% end %>

      <%= c 'field', object: contributor, attr: :last_name do |field| %>
        <%= c 'input', field.input_defaults.merge(required: true) %>
      <% end %>

      <%= c 'field', object: contributor, attr: :email do |field| %>
        <%= c 'input', field.input_defaults.merge(placeholder: '', required: true, type: :email) %>
      <% end %>

      <%= c 'onboarding_consent', organization: organization, contributor: contributor %>

      <%= c 'button',
        type: 'submit',
        label: I18n.t('components.onboarding_email_form.submit'),
        styles: [:primary, :block]
      %>
    <% end %>
  <% end %>

<% end %>
