<%= c 'stack', **attrs do %>

  <%= c 'stack', class: 'text-serif', space: :xsmall do %>
    <%= c 'heading', tag: :h1 do %>
      <%= t 'heading' %>
    <% end %>

    <p><%= t 'text' %></p>
  <% end %>

  <%= form_with(model: @contributor, local: true, url: onboarding_email_path) do %>
    <%= c 'stack' do %>
      <%= c 'field', object: @contributor, id: :first_name do |field| %>
        <%= c 'input', field.input_defaults.merge(required: true) %>
      <% end %>

      <%= c 'field', object: @contributor, id: :last_name do |field| %>
        <%= c 'input', field.input_defaults.merge(required: true) %>
      <% end %>

      <%= c 'field', object: @contributor, id: :email do |field| %>
        <%= c 'input', field.input_defaults.merge(placeholder: '', required: true) %>
      <% end %>

      <%= c 'button', type: 'submit', label: t('submit'), style: :primary %>
    <% end %>
  <% end %>

<% end %>
