<header>
  <h1 class="text-serif text-center"><%= t 'components.onboarding_instructions.telegram_explained.header' %></h1>
  <p role="doc-subtitle" class="text-serif text-center TelegramExplained-subheader">
    <%= t 'components.onboarding_instructions.telegram_explained.subheader' %>
  </p>
</header>

<section class="TelegramExplained-important-info-section">
  <%= c 'icon', icon: 't-warning', style: :inline %>
  <h2 class="text-serif TelegramExplained-important-info-header">
    <%= t 'components.onboarding_instructions.telegram_explained.important_info' %>
  </h2>
</section>
<%= c 'telegram_widget', jwt: jwt %>
