<div
  <%= attrs.merge(class: 'text-small') %>
  data-controller="image-input"
  data-action="
    dragover@document->image-input#showDropArea
    dragleave@document->image-input#hideDropArea
    dragover->image-input#highlightDropArea
    dragleave->image-input#unhighlightDropArea
    drop->image-input#dropFile
    drop@document->image-input#hideDropArea
    drop@document->image-input#unhighlightDropArea
  "
>
  <input
    type="file"
    accept="image/*"
    id="<%= id %>"
    name="<%= id %>"
    hidden
    data-image-input-target="input"
    data-action="change->image-input#handleChange"
  />

  <div
    class="ImageInput-selectedImage"
    data-image-input-target="selectedImage"
    <%= blob? ? '' : 'hidden' %>
  >
    <a href="<%= url %>" target="_blank" data-image-input-target="link">
      <img
        class="ImageInput-thumbnail"
        src="<%= thumbnail_url %>"
        alt="<%= t('.thumbnail_alt_text') %>"
        data-image-input-target="thumbnail"
      />
    </a>

    <div>
      <div data-image-input-target="filename"><%= filename %></div>

      <%= c 'button',
        type: :button,
        styles: [:underline, :inline],
        data: { action: 'click->image-input#showFilePicker' },
        label: t('.replace_image')
      %>
    </div>
  </div>

  <div
    class="ImageInput-emptyState"
    data-image-input-target="emptyState"
    <%= blob? ? 'hidden' : '' %>
  >
    <%= c 'icon', class: 'ImageInput-icon', icon: :attach %>

    <div>
      <div><%= t('.no_image') %></div>

      <%= c 'button',
        type: :button,
        styles: [:underline, :inline],
        data: { action: 'click->image-input#showFilePicker' },
        label: t('.select_image')
      %>
    </div>
  </div>
</div>
