<div class="UserRow">
  <%= link_to(user_path(user), class: 'UserRow-avatar') do %>
    <%= c 'avatar', user: user %>
  <% end %>
  <div class="UserRow-main">
    <%= link_to(user_path(user), class: 'UserRow-name') do %>
      <%= user.name %>
    <% end %>
    <% if user.email %>
      <%= link_to user.email, "mailto:#{user.email}" %>
    <% end %>
    <% if user.username %>
      <%= link_to user.username,"https://t.me/#{user.username}" %>
    <% end %>
    <%= link_to(edit_user_path(user), class: 'UserRow-note') do %>
      <%= user.note %>
    <% end %>
  </div>
</div>
