<a
  class="<%= class_names.join(' ') %>"
  href="<%= url %>"
>
  <div class="UserRow-avatar">
    <%= c 'avatar', user: user %>
  </div>

  <div>
    <strong>
      <span class="UserRow-name"><%= display_name %></span>
    </strong>

    <span class="UserRow-channels">
      <% channel_icons.each do |icon| %>
        <%= c 'icon', icon: icon, styles: [:inline] %>
      <% end %>
    </span>

    <p class="UserRow-note">
      <%= user.note %>
    </p>
  </div>
</a>
