<tr class="UserRow">
    <td class="UserRow-avatar">
        <%= c 'avatar', url: user.avatar_url, key: user.id %>
    </td>
    <td class="UserRow-main">
        <div class="UserRow-name">
            <%= user.first_name %> <%= user.last_name %>
        </div>
        <div class="UserRow-note">
            <%= user.note %>
        </div>
    </td>
    <td class="UserRow-actions">
        <%= c 'button', styles: ['link'], label: 'Bearbeiten', link: edit_user_path(user) %>
    </td>
</tr>
