<a
  class="<%= class_attr %>"
  href="<%= url %>"
>
  <div class="ContributorRow-avatar">
    <%= c 'avatar', contributor: contributor %>
  </div>

  <div>
    <strong>
      <span class="ContributorRow-name"><%= contributor.name %></span>
    </strong>

    <span class="ContributorRow-channels">
      <% channel_icons.each do |icon| %>
        <%= c 'icon', icon: icon, styles: [:inline] %>
      <% end %>
    </span>

    <% if contributor.tags? %>
      <ul class="ContributorRow-tags">

        <% contributor.tags.each do |tag| %>
          <li class="ContributorRow-tag" style="<%= "--tag-color: #{color_from_id(tag.id)}" %>"> <%= tag %> </li>
        <% end %>

      </ul>
    <% end %>

  </div>
</a>
