<a
  class="<%= class_attr %>"
  href="<%= url %>"
>
  <div class="ContributorRow-avatar">
    <%= c 'avatar', organization: organization, record: contributor, style: compact? ? :small : nil %>
  </div>

  <div>
    <strong>
      <span class="ContributorRow-name"><%= contributor.name %></span>
    </strong>

    <span class="ContributorRow-channels">
        <%= I18n.t('components.contributor_row.via_channels', channels: channels) %>
    </span>

    <% if !compact? && contributor.tags? %>
      <%= c 'tags_list', tags: contributor.tags %>
    <% end %>

  </div>
</a>
