<a
  class="<%= class_attr %>"
  href="<%= url %>"
>
  <div class="ContributorRow-avatar">
    <%= c 'avatar', contributor: contributor %>
  </div>

  <div>
    <strong>
      <span class="ContributorRow-name"><%= contributor.name %></span>
    </strong>

    <span class="ContributorRow-channels">
      <% channel_icons.each do |icon| %>
        <%= c 'icon', icon: icon, styles: [:inline] %>
      <% end %>
    </span>

    <% if contributor.tags? %>
      <div class="ContributorRow-tag-display">

        <% contributor.tags.each do |tag| %>
          <div class="ContributorRow-tag" style="<%= "background:#{tag_color_from_id(tag.id)}" %>"> <%= tag %> </div>
        <% end %>

      </div>
    <% end %>

  </div>
</a>
