<%= c 'onboarding_header' %>

<%= c 'main' do %>
  <%= c 'wrapper' do %>
    <%= c 'onboarding_hero' %>
  <% end %>

  <%= c 'section', styles: [:narrow, :marginTop] do %>
    <%= c 'heading', styles: [:alpha, :serif], tag: :h1 do %>
      <%= Setting.onboarding_title %>
    <% end %>

    <div class="text-serif">
      <%= c 'markdown', raw: Setting.onboarding_page %>
    </div>

    <%= c 'onboarding_channel_buttons' %>

  <% end %>
<% end %>

<%= c 'onboarding_footer' %>
