<%= c 'wrapper', style: :narrow do %>
  <%= c 'box' do %>
    <%= c 'onboarding_header', logo: Setting.onboarding_logo %>
  <% end %>
<% end %>

<main>

  <%= c 'wrapper' do %>
    <%= c 'onboarding_hero', image: Setting.onboarding_hero %>
  <% end %>

  <%= c 'wrapper', style: :narrow do %>
    <%= c 'box' do %>
      <%= c 'stack' do %>

        <%= c 'heading', styles: [:alpha, :serif], tag: :h1 do %>
          <%= Setting.onboarding_title %>
        <% end %>

        <div class="text-serif">
          <%= c 'markdown', raw: Setting.onboarding_page %>
        </div>

        <%= c 'onboarding_instructions', contributor: @contributor, jwt: @jwt %>

      <% end %>
    <% end %>
  <% end %>
</main>

<%= c 'wrapper', style: :narrow do %>
  <%= c 'box' do %>
    <%= c 'onboarding_footer', imprint_link: 'https://tactile.news/impressum/' %>
  <% end %>
<% end %>
