<%= c 'wrapper', style: :narrow do %>
  <%= c 'box' do %>
    <%= c 'onboarding_header', logo: Setting.onboarding_logo %>
  <% end %>
<% end %>

<main>
  <% if Setting.onboarding_hero.present? %>
    <%= c 'wrapper' do %>
      <%= c 'onboarding_hero', image: Setting.onboarding_hero %>
    <% end %>
  <% end %>

  <%= c 'wrapper', style: :narrow do %>
    <%= c 'box' do %>
      <%= c 'stack' do %>

        <%= c 'heading', styles: [:alpha, :serif], tag: :h1 do %>
          <%= Setting.onboarding_title %>
        <% end %>

        <div class="text-serif">
          <%= c 'markdown', raw: Setting.onboarding_page %>
        </div>

        <%= c 'flex' do %>
          <%= c 'button',
            link: onboarding_email_path,
            label: 'E-Mail',
            styles: [:block, :primary, :email]
          %>

          <%= c 'button',
            link: onboarding_threema_path,
            label: 'Threema',
            styles: [:block, :primary, :threema]
          %>
        <% end %>

        <%= c 'flex' do %>
          <%= c 'button',
            link: onboarding_signal_path,
            label: 'Signal',
            styles: [:block, :primary, :signal]
          %>
          
          <%= c 'button',
            link: onboarding_telegram_path,
            label: 'Telegram',
            styles: [:block, :primary, :telegram]
          %>
        <% end %>

      <% end %>
    <% end %>
  <% end %>
</main>

<%= c 'wrapper', style: :narrow do %>
  <%= c 'box' do %>
    <%= c 'onboarding_footer', imprint_link: 'https://tactile.news/impressum/' %>
  <% end %>
<% end %>
