<%= c 'wrapper', style: :narrow do %>
  <%= c 'box' do %>
    <%= c 'onboarding_header', logo: Setting.onboarding_logo %>
  <% end %>
<% end %>

<main>

  <%= c 'onboarding_hero', photo: Setting.onboarding_hero, heading: Setting.onboarding_title %>
  <%= c 'wrapper', styles: [:onboarding_page, :narrow] do %>
    <%= c 'box', styles: [:white, :large]  do %>
      <%= c 'stack' do %>
        <div class="text-serif text-justify">
          <%= c 'stack' do %>
            <%= @text %>
          <% end %>
        </div>

        <%= c 'onboarding_instructions', user: @user, token: @token %>
      <% end %>
    <% end %>
  <% end %>
</main>

<%= c 'wrapper', style: :narrow do %>
  <%= c 'box' do %>
    <%= c 'onboarding_footer', imprint_link: 'https://tactile.news/impressum/' %>
  <% end %>
<% end %>
