<%= c 'onboarding_header' %>

<%= c 'main' do %>
  <%= c 'wrapper' do %>
    <%= c 'onboarding_hero' %>
  <% end %>

  <%= c 'section', styles: [:narrow] do %>
    <%= c 'heading', styles: [:alpha, :serif], tag: :h1 do %>
      <%= @organization.onboarding_title || Setting.onboarding_title %>
    <% end %>

    <div class="text-serif">
      <%= c 'markdown', raw:  @organization.onboarding_page || Setting.onboarding_page %>
    </div>

    <%= c 'onboarding_channel_buttons', channels: @channels %>

  <% end %>
<% end %>

<%= c 'onboarding_footer' %>
