<%= c 'onboarding_header', organization: @organization %>

<%= c 'main' do %>
  <%= c 'wrapper' do %>
    <%= c 'onboarding_hero', organization: @organization %>
  <% end %>

  <%= c 'section', styles: [:narrow] do %>
    <%= c 'heading', styles: [:alpha, :serif], tag: :h1 do %>
      <%= @organization.onboarding_title %>
    <% end %>

    <div class="text-serif">
      <%= c 'markdown', raw: @organization.onboarding_page %>
    </div>

    <%= c 'onboarding_channel_buttons', organization: @organization, channels: @channels %>

  <% end %>
<% end %>

<%= c 'onboarding_footer', organization: @organization %>
