<%= c 'wrapper', style: :narrow do %>
  <%= c 'box' do %>
    <%= c 'onboarding_header', logo: Setting.onboarding_logo %>
  <% end %>
<% end %>

<main>

  <%= c 'onboarding_hero', photo: Setting.onboarding_hero, heading: Setting.onboarding_title %>
  <%= c 'wrapper', style: :narrow do %>
    <%= c 'box' do %>
      <%= c 'stack' do %>
        <div class="text-serif">
          <%= c 'markdown', raw: Setting.onboarding_page %>
        </div>

        <%= c 'onboarding_instructions', contributor: @contributor, jwt: @jwt %>
      <% end %>
    <% end %>
  <% end %>
</main>

<%= c 'wrapper', style: :narrow do %>
  <%= c 'box' do %>
    <%= c 'onboarding_footer', imprint_link: 'https://tactile.news/impressum/' %>
  <% end %>
<% end %>
