<%= c 'wrapper', style: :narrow do %>
  <%= c 'box' do %>
    <%= c 'onboarding_header' %>
  <% end %>
<% end %>

<main>
  <%= c 'wrapper' do %>
    <%= c 'onboarding_hero' %>
  <% end %>

  <%= c 'wrapper', style: :narrow do %>
    <%= c 'box' do %>
      <%= c 'stack' do %>

        <%= c 'heading', styles: [:alpha, :serif], tag: :h1 do %>
          <%= Setting.find_by(var: :onboarding_title)&.send("value_#{I18n.locale}".to_sym) || Setting.onboarding_title %>
        <% end %>

        <div class="text-serif">
          <%= c 'markdown', raw: Setting.find_by(var: :onboarding_page)&.send("value_#{I18n.locale}".to_sym) || Setting.onboarding_page %>
        </div>

        <%= c 'onboarding_channel_buttons' %>

      <% end %>
    <% end %>
  <% end %>
</main>

<%= c 'wrapper', style: :narrow do %>
  <%= c 'box' do %>
    <%= c 'onboarding_footer' %>
  <% end %>
<% end %>
