<%= c 'stack', **attrs do %>
  <%= c 'stack', class: 'text-serif text-center', space: :xsmall do %>
    <%= c 'heading', tag: :h1 do %>
      <%= t('.heading') %>
    <% end %>

    <p><%= t('.text') %></p>
  <% end %>

  <%= c 'stack', space: :small, class: 'text-center' do %>
    <%= c 'button',
      styles: [:primary, :block],
      label: t('.link'),
      link: signal_link,
      target: '_blank'
    %>

    <%= c 'copy_button',
      styles: [:secondary, :block],
      label: t('.copy'),
      copy: signal_link
    %>

    <%= c 'stack', space: :xsmall, class: 'text-small text-light' do %>
      <p>
        <%= t('.help', project_name: organization.project_name) %>
      </p>

    <% end %>
    <p>
      <%= t('.message', token: signal_onboarding_token).html_safe %>
    </p>
  <% end %>
<% end %>
