<turbo-frame id="contributor-status-toggle">
  <%= c 'stack', space: :small do %>
    <% if contributor.active? %>

      <%= c 'heading', tag: :h2 do %>
        <%= t('.active.heading') %>
      <% end %>

      <p>
        <%= t('.active.text',
          name: contributor.name,
          first_name: contributor.first_name
        ).html_safe %>
      </p>

    <% else %>

      <%= c 'heading', tag: :h2 do %>
        <%= t('.inactive.heading') %>
      <% end %>

      <% if contributor.deactivated_by_user.present? && !contributor.deactivated_by_user.admin? %>
        <p>
          <%= t('.inactive.text',
                 name: contributor.name,
                 user_name: contributor.deactivated_by_user.name,
                 project_name: organization.project_name,
                 first_name: contributor.first_name
          ).html_safe %>
        </p>
      <% elsif contributor.deactivated_by_admin? %>
        <p>
         <%= t('.inactive.text',
                 name: contributor.name,
                 user_name: 'Admin',
                 project_name: organization.project_name,
                 first_name: contributor.first_name
          ).html_safe %>
        </p>
      <% elsif contributor.unsubscribed_at.present? %>
        <p>
          <%= t('.unsubscribed.text',
                name: contributor.name,
                project_name: organization.project_name,
                first_name: contributor.first_name
          ).html_safe %>
        </p>
      <% else %>
        <p>
          <%= t('.automatically_marked_inactive.text',
                name: contributor.name,
                project_name: organization.project_name,
                first_name: contributor.first_name
          ).html_safe %>
        </p>
        <p>
          <%= t(".automatically_marked_inactive.possible_reason_#{contributor.channels.first.to_s}",
                first_name: contributor.first_name
          ).html_safe %>
        </p>
      <% end %>
    <% end %>

    <%= c 'form', model: [organization, contributor] do %>
      <input
        type="hidden"
        id="contributor[active]"
        name="contributor[active]"
        value="<%= contributor.active? ? 'off' : 'on' %>"
      />

      <%= c 'submit_button', label: contributor.active? ? t('.active.action') : t('.inactive.action') %>
    <% end %>
  <% end %>
</turbo-frame>
