<turbo-frame id="contributor-status-toggle">
  <%= c 'stack', space: :small do %>
    <% if contributor.active? %>

      <%= c 'heading', tag: :h2 do %>
        <%= t('.active.heading') %>
      <% end %>

      <p>
        <%= t('.active.text',
          name: contributor.name,
          first_name: contributor.first_name
        ).html_safe %>
      </p>

    <% else %>

      <%= c 'heading', tag: :h2 do %>
        <%= t('.inactive.heading') %>
      <% end %>

      <p>
        <%= t('.inactive.text',
          name: contributor.name,
          first_name: contributor.first_name
        ).html_safe %>
      </p>

      <% if [:email, :threema, :signal].include?(contributor.channels.first) %>
        <p>
          <%= t(".inactive.possible_reason_#{contributor.channels.first.to_s}") %>
        </p>
      <% end %>

    <% end %>

    <%= c 'form', model: contributor do %>
      <input
        type="hidden"
        id="contributor[active]"
        name="contributor[active]"
        value="<%= contributor.active? ? 'off' : 'on' %>"
      />

      <%= c 'submit_button', label: contributor.active? ? t('.active.action') : t('.inactive.action') %>
    <% end %>
  <% end %>
</turbo-frame>
