<%= c 'box', styles: [:large, :gray] do %>
  <%= c 'wrapper' do %>
    <%= c 'flex', styles: [:spaceBetween] do %>

      <%= c 'heading' do %>
        <%= Contributor.count %> <%= I18n.t 'contributor.contributor', count: Contributor.count %>
      <% end %>

      <div class="text-small">
        <%= c 'button',
          style: :secondary,
          label: I18n.t('contributor.actions.create'),
          link: new_contributor_path
        %>
        <%= c 'copy_button',
          label: I18n.t('contributor.actions.copy_invite'),
          url: invites_url,
          key: 'url'
        %>
      </div>

    <% end %>
  <% end %>
<% end %>

<%= c 'box', style: :large do %>
  <%= c 'wrapper' do %>
    <%= c 'stack' do %>
      <% @contributors.each do |contributor| %>
        <%= c 'contributor_row', contributor: contributor %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
