<%= c 'box', styles: [:large, :gray] do %>
  <%= c 'wrapper' do %>
    <%= c 'flex', styles: [:spaceBetween] do %>

      <%= c 'heading' do %>
        <%= I18n.t 'contributor.contributor', count: :other %>
      <% end %>

      <div class="text-small">
        <%= c 'button',
          style: :secondary,
          label: I18n.t('contributor.actions.create'),
          link: new_contributor_path
        %>
        <%= c 'copy_button',
          label: I18n.t('contributor.actions.copy_invite'),
          url: invites_url,
          key: 'url'
        %>
      </div>

    <% end %>
  <% end %>
<% end %>
<div class="bg-gray">
  <%= c 'wrapper' do %>
    <%= c('tab_bar', items: {
      contributors_path => {
        label: "Aktiv",
        active: @filter == :active,
        count: @active_count,
      },
      contributors_path(filter: :inactive) => {
        label: "Inaktiv",
        active: @filter == :inactive,
        count: @inactive_count,
      },
    }) %>
  <% end %>
</div>

<%= c 'box', style: :large do %>
  <%= c 'wrapper' do %>
    <%= c 'stack' do %>
      <% @contributors.each do |contributor| %>
        <%= c 'contributor_row', contributor: contributor %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
