<%= c 'page_header' do %>
  <%= c 'heading' do %>
    <%= t 'contributor.create' %>
  <% end %>
<% end %>

<%= c 'box' do %>
  <%= c 'wrapper' do %>
    <%= c 'stack', space: :xlarge do %>
      <%= c 'callout', style: :warning do %>
        <%= c 'stack', space: :xsmall do %>
          <%= c 'heading', tag: :h2, style: :gamma do %>
            <%= t('contributor.data_processing_callout.heading') %>
          <% end %>

          <% t('contributor.data_processing_callout.text').each do |paragraph| %>
            <p><%= paragraph.html_safe %></p>
          <% end %>
        <% end %>
      <% end %>

      <%= c 'contributor_form', contributor: @contributor %>
    <% end %>
  <% end %>
<% end %>
