<%= c 'two_column_layout', id: :contributors do |layout| %>

  <% layout.sidebar do %>
    <a class="skip-link" href="#profile" data-turbo="false">
      <%= t 'contributor.skip_to_profile' %>
    </a>

    <% @contributors.each do |contributor| %>

      <%= c 'sidebar_item', active: contributor == @contributor do %>
        <%= c 'contributor_row', contributor: contributor, style: :compact %>
      <% end %>

    <% end %>
  <% end %>

  <%= c 'box', style: :large, id: 'profile', name: 'profile' do %>
    <%= c 'wrapper' do %>
      <%= c 'stack', space: :xlarge do %>

        <%= c 'contributor_header', contributor: @contributor %>

        <%= c 'contributor_form', contributor: @contributor %>

        <hr>

        <%= c 'contributor_channel_settings', contributor: @contributor %>

        <hr>

        <%= c 'contributor_status_toggle', contributor: @contributor %>

        <%= c 'stack' do %>
          <%= c 'heading', styles: [:section] do %>
            <%= I18n.t 'contributor.activity' %>
          <% end %>

          <%= c 'requests_feed' do %>
            <% @contributor.recent_replies.each do |reply| %>
              <%= c 'requests_feed_item', latest_reply: reply %>
            <% end %>
          <% end %>
        <% end %>

      <% end %>
    <% end %>
  <% end %>

<% end %>
