<%= c 'two_column_layout', id: :contributors do |layout| %>
  <% layout.sidebar do %>
    <a class="skip-link" href="#profile" data-turbo="false">
      <%= t 'contributor.skip_to_profile' %>
    </a>

    <% @contributors_sidebar.each do |contributor| %>

      <%= c 'sidebar_item', active: contributor == @contributor do %>
        <%= c 'contributor_row', organization: @organization, contributor: contributor, style: :compact %>
      <% end %>

    <% end %>
  <% end %>

  <%= c 'section', styles: [:wide, :xlargeSpaceBetween, :noMarginTop] do %>
    <%= c 'contributor_header', organization: @organization, contributor: @contributor %>

    <%= c 'contributor_quick_edit_form', contributor: @contributor %>

    <hr>

    <%= c 'contributor_channel_settings', contributor: @contributor %>

    <hr>

    <%= c 'requests_feed', contributor: @contributor %>

    <hr>

    <% unless @contributor.unsubscribed_at.present? %>
      <%= c 'contributor_status_toggle', organization: @organization, contributor: @contributor %>
    <% end %>
  <% end %>
<% end %>
