<div
  class="<%= class_names.join(' ') %>"
  data-controller="chat-message"
  data-chat-message-sender-name="<%= message.sender&.name %>"
  id="<%= id %>"
>
    <div class="ChatMessage-text" data-target="chat-message.text">
      <%= c 'plaintext_message', message: message.text %>

      <div
        class="ChatMessage-toggle"
        data-target="chat-message.toggle"
        data-action="click->chat-message#toggle"
      >
        <%= c 'button', styles: [:inline] do %>
          <span class="ChatMessage-expand">
            <%= I18n.t('components.chat_message.expand') %>
            <%= c 'icon', icon: 'small-down', styles: [:inline] %>
          </span>
          <span class="ChatMessage-collapse">
            <%= I18n.t('components.chat_message.collapse') %>
            <%= c 'icon', icon: 'small-up', styles: [:inline] %>
          </span>
        <% end %>
      </div>
    </div>

    <% unless photos.empty? %>
      <%= c 'chat_message_photos', photos: photos %>
    <% end %>

    <div class="ChatMessage-meta">
      <a href="#<%= id %>"><%= date_time(message.created_at) %></a>

      <span data-target="chat-message.copy" data-action="click->chat-message#copy">
        <%= c 'button', style: :inline do %>
          <div class="ChatMessage-copy">
            <%= c 'icon', icon: 'ungroup', style: :inline %>
            <%= I18n.t('components.chat_message.copy') %>
          </div>

          <div class="ChatMessage-copied">
            <%= c 'icon', icon: 'f-check', style: :inline %>
            <%= I18n.t('components.chat_message.copied') %>
          </div>
        <% end %>
      </span>
    </div>

    <% if warnings.any? %>
      <div class="ChatMessage-meta ChatMessage-warnings">
        <% warnings.each do |warning| %>
          <span>
            <%= c 'icon', icon: 't-warning', style: :inline %>
            <%= warning %>
          </span>
        <% end %>
      </div>
    <% end %>
</div>
