<article
  class="<%= class_attr %>"
  data-controller="chat-message"
  data-chat-message-id-value="<%= message.id %>"
  data-chat-message-sender-name-value="<%= message.sender&.name %>"
  data-chat-message-truncated-class="ChatMessage--truncated"
  data-chat-message-expanded-class="ChatMessage--expanded"
  data-chat-message-highlighted-class="ChatMessage--highlighted"
  data-chat-message-copy-url-value="<%= copy_url %>"
  data-chat-message-highlight-url-value="<%= organization_message_highlight_path(message.organization_id, message) %>"
  id="<%= id %>"
>

    <%= c 'chat_message_header', message: message %>
    <section class="ChatMessage-body">
      <% if message.text.present? %>
        <div class="ChatMessage-text">
          <%= c 'plaintext_message',
            message: message.text,
            data: { chat_message_target: :text }
          %>

          <div class="ChatMessage-toggleExpanded">
            <%= c('button',
              styles: [:inline],
              data: {
                action: 'click->chat-message#toggleExpanded',
                chat_message_target: 'toggleExpanded',
              }
            ) do %>
              <span class="ChatMessage-expand">
                <%= I18n.t('components.chat_message.expand') %>
                <%= c 'icon', icon: 'small-down', styles: [:inline] %>
              </span>
              <span class="ChatMessage-collapse">
                <%= I18n.t('components.chat_message.collapse') %>
                <%= c 'icon', icon: 'small-up', styles: [:inline] %>
              </span>
            <% end %>
          </div>
        </div>
      <% end %>
      <% unless photos.empty? %>
        <%= c 'chat_message_photos', photos: photos %>
      <% end %>
      <% unless files.empty? %>
        <% if image? %>
          <%= c 'chat_message_photos', photos: image_files %>
        <% end %>
        <% if audio? %>
          <%= c 'chat_message_audio', audios: audio_files %>
        <% end %>
        <% if video? %>
          <%= c 'chat_message_video', videos: video_files %>
        <% end %>
      <% end %>
    </section>

    <footer class="ChatMessage-footer">
      <% unless hide_actions %>
        <%= c 'copy_button',
          label: I18n.t('components.chat_message.copy'),
          style: :inline,
          data: { chat_message_target: 'copyButton' }
        %>

        <%= c 'button', style: :inline, data: { action: 'click->chat-message#toggleHighlighted' } do %>
          <span class="ChatMessage-highlight">
            <%= c 'icon', icon: 'shape-star', style: :inline %>
            <%= I18n.t('components.chat_message.highlight') %>
          </span>

          <span class="ChatMessage-unhighlight">
            <%= c 'icon', icon: 'shape-star', style: :inline %>
            <%= I18n.t('components.chat_message.unhighlight') %>
          </span>
        <% end %>

        <% unless message.broadcasted? %>
          <%= c 'button', style: :inline, link: move_link do %>
            <%= c 'icon', icon: 'direction-right', style: :inline %>
            <%= I18n.t('components.chat_message.move') %>
          <% end %>
        <% end %>

        <% if message.sent_from_contributor? %>
          <%= c 'button', link: conversations_organization_contributor_path(organization_id: message.organization_id, id: message.contributor, reply_to: message.id, anchor: "chat-form" ), style: :inline do %>
            <%= c 'icon', icon: 'reply-arrow', styles: [:inline] %>
            <%= I18n.t('components.chat_messages_group.reply') %>
          <% end %>
        <% end %>
      <% end %>
    </footer>

    <% if message.manually_created? %>
      <div class="ChatMessage-footer">
        <%= I18n.t('components.chat_message.created_by', name: creator_name) %>
        ·
        <span class="ChatMessage-edit">
          <%= link_to I18n.t('components.chat_message.edit'), edit_organization_message_path(message, organization_id: message.organization_id) %>
        </span>
      </div>
    <% end %>

    <% if warnings.any? %>
      <div class="ChatMessage-footer ChatMessage-warnings">
        <% warnings.each do |warning| %>
          <span>
            <%= c 'icon', icon: 't-warning', style: :inline %>
            <%= warning %>
          </span>
        <% end %>
      </div>
    <% end %>
</article>
