<article
  class="<%= class_attr %>"
  data-controller="chat-message"
  data-chat-message-id-value="<%= message.id %>"
  data-chat-message-sender-name-value="<%= message.sender&.name %>"
  data-chat-message-truncated-class="ChatMessage--truncated"
  data-chat-message-expanded-class="ChatMessage--expanded"
  data-chat-message-highlighted-class="ChatMessage--highlighted"
  id="<%= id %>"
>
    <% if message.text.present? %>
      <header class="ChatMessage-header">
        <% if message.sender %>
          <%= c 'avatar', record: message.sender, style: :small, class: "ChatMessage-avatar" %>
        <% else %>
          <%= c 'avatar', style: :small, class: "ChatMessage-avatar" %>
        <% end %>
        <div class="ChatMessage-text">
          <%= c 'plaintext_message',
            message: message.text,
            data: { chat_message_target: :text }
          %>

          <div class="ChatMessage-toggleExpanded">
            <%= c('button',
              styles: [:inline],
              data: {
                action: 'click->chat-message#toggleExpanded',
                chat_message_target: 'toggleExpanded',
              }
            ) do %>
              <span class="ChatMessage-expand">
                <%= I18n.t('components.chat_message.expand') %>
                <%= c 'icon', icon: 'small-down', styles: [:inline] %>
              </span>
              <span class="ChatMessage-collapse">
                <%= I18n.t('components.chat_message.collapse') %>
                <%= c 'icon', icon: 'small-up', styles: [:inline] %>
              </span>
            <% end %>
          </div>
        </div>
      </header>
    <% end %>

    <% unless photos.empty? %>
      <header class="ChatMessage-header">
        <% if message.sender %>
          <%= c 'avatar', record: message.sender, style: :small, class: "ChatMessage-avatar" %>
        <% else %>
          <%= c 'avatar', style: :small, class: "ChatMessage-avatar" %>
        <% end %>
        <%= c 'chat_message_photos', photos: photos %>
      </header>
    <% end %>

    <% if image? %>
      <header class="ChatMessage-header">
        <% if message.sender %>
          <%= c 'avatar', record: message.sender, style: :small, class: "ChatMessage-avatar" %>
        <% else %>
          <%= c 'avatar', style: :small, class: "ChatMessage-avatar" %>
        <% end %>
        <%= c 'chat_message_photos', photos: files %>
      </header>
    <% end %>

    <% if audio? %>
      <header class="ChatMessage-header">
        <% if message.sender %>
          <%= c 'avatar', record: message.sender, style: :small, class: "ChatMessage-avatar" %>
        <% else %>
          <%= c 'avatar', style: :small, class: "ChatMessage-avatar" %>
        <% end %>
        <%= c 'chat_message_audio', audio: audio %>
      </header>
    <% end %>

    <footer class="ChatMessage-meta">
      <p class="ChatMessage-senderNameMessageUpdatedAt">
        <%= t('.sent_by_x_at', name: message.sender ? message.sender.first_name : Setting.project_name, date: date_time(message.updated_at)).html_safe %>
      </p>
      <% unless hide_actions || !message.reply? %>
        <%= c 'copy_button',
          label: I18n.t('components.chat_message.copy'),
          style: :inline,
          data: { chat_message_target: 'copyButton' }
        %>

        <%= c 'button', style: :inline, data: { action: 'click->chat-message#toggleHighlighted' } do %>
          <span class="ChatMessage-highlight">
            <%= c 'icon', icon: 'shape-star', style: :inline %>
            <%= I18n.t('components.chat_message.highlight') %>
          </span>

          <span class="ChatMessage-unhighlight">
            <%= c 'icon', icon: 'shape-star', style: :inline %>
            <%= I18n.t('components.chat_message.unhighlight') %>
          </span>
        <% end %>

        <% unless message.broadcasted? %>
          <%= c 'button', style: :inline, link: move_link do %>
            <%= c 'icon', icon: 'direction-right', style: :inline %>
            <%= I18n.t('components.chat_message.move') %>
          <% end %>
        <% end %>
        
      <% end %>
    </footer>

    <div class="ChatMessage-meta">
      <% if message.manually_created? %>
        <%= I18n.t('components.chat_message.created_by', name: creator_name) %>
        ·
        <span class="ChatMessage-edit">
          <%= link_to I18n.t('components.chat_message.edit'), edit_message_path(message) %>
        </span>
      <% end %>
    </div>

    <% if warnings.any? %>
      <div class="ChatMessage-meta ChatMessage-warnings">
        <% warnings.each do |warning| %>
          <span>
            <%= c 'icon', icon: 't-warning', style: :inline %>
            <%= warning %>
          </span>
        <% end %>
      </div>
    <% end %>
</article>
