<div
  class="<%= class_attr %>"
  data-controller="chat-message"
  data-chat-message-id-value="<%= message.id %>"
  data-chat-message-sender-name-value="<%= message.sender&.name %>"
  data-chat-message-truncated-class="ChatMessage--truncated"
  data-chat-message-expanded-class="ChatMessage--expanded"
  data-chat-message-copied-class="ChatMessage--copied"
  data-chat-message-highlighted-class="ChatMessage--highlighted"
  id="<%= id %>"
>
    <div class="ChatMessage-text" data-chat-message-target="text">
      <%= c 'plaintext_message', message: message.text %>

      <div
        class="ChatMessage-toggleExpanded"
        data-chat-messsage-target="toggleExpanded"
        data-action="click->chat-message#toggleExpanded"
      >
        <%= c 'button', styles: [:inline] do %>
          <span class="ChatMessage-expand">
            <%= I18n.t('components.chat_message.expand') %>
            <%= c 'icon', icon: 'small-down', styles: [:inline] %>
          </span>
          <span class="ChatMessage-collapse">
            <%= I18n.t('components.chat_message.collapse') %>
            <%= c 'icon', icon: 'small-up', styles: [:inline] %>
          </span>
        <% end %>
      </div>
    </div>

    <% unless photos.empty? %>
      <%= c 'chat_message_photos', photos: photos %>
    <% end %>

    <% if voice %>
      <%= c 'chat_message_voice', voice: voice %>
    <% end %>

    <div class="ChatMessage-meta">
      <a href="#<%= id %>"><%= date_time(message.created_at) %></a>

      <span data-action="click->chat-message#copy">
        <%= c 'button', style: :inline do %>
          <span class="ChatMessage-copy">
            <%= c 'icon', icon: 'ungroup', style: :inline %>
            <%= I18n.t('components.chat_message.copy') %>
          </span>

          <span class="ChatMessage-copied">
            <%= c 'icon', icon: 'f-check', style: :inline %>
            <%= I18n.t('components.chat_message.copied') %>
          </span>
        <% end %>
      </span>

      <span data-action="click->chat-message#toggleHighlighted">
        <%= c 'button', style: :inline do %>
          <span class="ChatMessage-highlight">
            <%= c 'icon', icon: 'shape-star', style: :inline %>
            <%= I18n.t('components.chat_message.highlight') %>
          </span>

          <span class="ChatMessage-unhighlight">
            <%= c 'icon', icon: 'shape-star', style: :inline %>
            <%= I18n.t('components.chat_message.unhighlight') %>
          </span>
        <% end %>
      </span>
    </div>

    <% if warnings.any? %>
      <div class="ChatMessage-meta ChatMessage-warnings">
        <% warnings.each do |warning| %>
          <span>
            <%= c 'icon', icon: 't-warning', style: :inline %>
            <%= warning %>
          </span>
        <% end %>
      </div>
    <% end %>
</div>
