<div
  class="<%= class_attr %>"
  data-controller="chat-message"
  data-chat-message-id-value="<%= message.id %>"
  data-chat-message-sender-name-value="<%= message.sender&.name %>"
  data-chat-message-truncated-class="ChatMessage--truncated"
  data-chat-message-expanded-class="ChatMessage--expanded"
  data-chat-message-highlighted-class="ChatMessage--highlighted"
  id="<%= id %>"
>
    <div class="ChatMessage-text" data-chat-message-target="text">
      <%= c 'plaintext_message', message: message.text %>

      <div class="ChatMessage-toggleExpanded">
        <%= c('button',
          styles: [:inline],
          data: {
            action: 'click->chat-message#toggleExpanded',
            chat_message_target: 'toggleExpanded',
          }
        ) do %>
          <span class="ChatMessage-expand">
            <%= I18n.t('components.chat_message.expand') %>
            <%= c 'icon', icon: 'small-down', styles: [:inline] %>
          </span>
          <span class="ChatMessage-collapse">
            <%= I18n.t('components.chat_message.collapse') %>
            <%= c 'icon', icon: 'small-up', styles: [:inline] %>
          </span>
        <% end %>
      </div>
    </div>

    <% unless photos.empty? %>
      <%= c 'chat_message_photos', photos: photos %>
    <% end %>

    <% if image? %>
      <%= c 'chat_message_photos', photos: [message.file] %>
    <% end %>

    <% if audio? %>
      <%= c 'chat_message_audio', audio: message.file %>
    <% end %>

    <div class="ChatMessage-meta">
      <a href="#<%= id %>"><%= date_time(message.created_at) %></a>

      <% unless hide_actions %>
        <%= c 'copy_button',
          label: I18n.t('components.chat_message.copy'),
          success: I18n.t('components.chat_message.copied'),
          style: :inline,
          data: { chat_message_target: 'copyButton' }
        %>

        <%= c 'button', style: :inline, data: { action: 'click->chat-message#toggleHighlighted' } do %>
          <span class="ChatMessage-highlight">
            <%= c 'icon', icon: 'shape-star', style: :inline %>
            <%= I18n.t('components.chat_message.highlight') %>
          </span>

          <span class="ChatMessage-unhighlight">
            <%= c 'icon', icon: 'shape-star', style: :inline %>
            <%= I18n.t('components.chat_message.unhighlight') %>
          </span>
        <% end %>

        <% if message.reply? %>
          <%= c 'button', style: :inline, link: move_link do %>
            <%= c 'icon', icon: 'direction-right', style: :inline %>
            <%= I18n.t('components.chat_message.move') %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <% if warnings.any? %>
      <div class="ChatMessage-meta ChatMessage-warnings">
        <% warnings.each do |warning| %>
          <span>
            <%= c 'icon', icon: 't-warning', style: :inline %>
            <%= warning %>
          </span>
        <% end %>
      </div>
    <% end %>
</div>
