<div class="ChatMessage" data-controller="chat-message">
    <div class="ChatMessage-text" data-target="chat-message.text">
      <%= c 'plaintext_message', message: message.text %>

      <div
        class="ChatMessage-expand"
        data-target="chat-message.expand"
        data-action="click->chat-message#expand"
      >
        <%= c 'button', styles: [:inline] do %>
          <%= I18n.t('components.chat_message.expand') %>
          <%= c 'icon', icon: 'small-down', styles: [:inline] %>
        <% end %>
      </div>
    </div>

    <% unless photos.empty? %>
      <%= c 'chat_message_photos', photos: photos %>
    <% end %>

    <div class="ChatMessage-date">
      <%= date_time(message.created_at) %>
    </div>
</div>
