<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t 'application_name' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

    <a class="skip-link" href="#main" data-turbo="false">
      <%= t 'skip_to_content' %>
    </a>

    <div class="sticky">
      <%= c 'nav_bar' %>
      <% flash.each do |type, message| %>
        <%= c 'notification', styles: [type] do %>
          <%= message %>
        <% end %>
      <% end %>

      <%= yield :notifications %>
    </div>

    <main id="main" name="main">
      <%= yield %>
    </main>

    <%= c 'box', styles: [:gray, :large] do %>
      <%= c 'wrapper' do %>
        <%= c 'footer' %>
      <% end %>
    <% end %>
  </body>
</html>
