<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= @organization&.project_name || t('application_name') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application" %>
    <%= c 'favicon' %>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>

  <body>
    <a class="skip-link" href="#main" data-turbo="false">
      <%= t 'skip_to_content' %>
    </a>

    <div class="sticky">
      <%= c 'nav_bar', organization: @organization, current_user: current_user %>
      <%= c 'browser_support_notification' %>
      <%= c 'notifications', notifications: flash, style: :floating, close_after: 6000 %>
      <%= yield :notifications %>
    </div>

    <%= yield %>

    <%= c 'footer', organization: @organization %>
  </body>
</html>
