<!DOCTYPE html>
<html>
  <head>
    <title><%= t 'application_name' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body>

    <div class="sticky">
      <%= c 'nav_bar' %>
      <% flash.each do |type, message| %>
        <%= c 'notification', styles: [type] do %>
          <%= message %>
        <% end %>
      <% end %>

      <%= yield :notifications %>
    </div>

    <main>
      <%= yield %>
    </main>

    <%= c 'box', styles: [:gray, :large] do %>
      <%= c 'wrapper' do %>
        <%= c 'footer' %>
      <% end %>
    <% end %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
