<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t 'application_name' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <a class="skip-link" href="#main" data-turbo="false">
      <%= t 'skip_to_content' %>
    </a>


    <div class="sticky">
      <%= c 'nav_bar' %>
      <%= c 'browser_support_notification' %>
      <%= c 'notifications', notifications: flash, style: :floating, close_after: 6000 %>
      <%= yield :notifications %>
    </div>

    <main id="main" name="main">
      <%= yield %>
    </main>

    <%= c 'footer' %>
  </body>
</html>
