<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="smooth-scrolling">
<head>
  <title><%= Setting.project_name %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= stylesheet_link_tag "application" %>
</head>

<body>
  <% flash.each do |type, message| %>
    <%= c 'notification', styles: [type] do %>
      <%= message %>
    <% end %>
  <% end %>

  <%= yield %>
</body>
</html>
