<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= @organization.project_name %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= stylesheet_link_tag "application" %>
</head>

<body>

<%= yield %>

<% if @organization.onboarding_show_gdpr_modal %>
  <%= c 'gdpr_modal', organization: @organization %>
<% end %>

</body>
</html>
